.ct-query-template-grid {
    display: grid;
    gap: var(--grid-columns-gap, 30px);
    grid-template-columns: repeat(var(--grid-columns-width), minmax(0, 1fr))
}
#gspb_row-id-gsbp-47c7fa3 {
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#gspb_row-id-gsbp-47c7fa3>.gspb_row__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}
#gspb_row-id-gsbp-47c7fa3>.gspb_row__content {
    align-items: center;
}
body.gspb-bodyfront #gspb_row-id-gsbp-47c7fa3>.gspb_row__content {
    width: var(--theme-container-width, 1200px);
    max-width: var(--theme-normal-container-max-width, 1200px);
}
#gspb_col-id-gsbp-e99a84e.gspb_row__col--6 {
    width: calc(50% - 10px);
}
.gspb_row #gspb_col-id-gsbp-aa0c6e9.gspb_row__col--6,
.gspb_row #gspb_col-id-gsbp-e99a84e.gspb_row__col--6 {
    padding: 0;
}
#gspb_col-id-gsbp-aa0c6e9.gspb_row__col--6 {
    width: calc(50% - 10px);
}
body #gspb_col-id-gsbp-aa0c6e9.gspb_row__col--6 {
    display: flex;
    flex-direction: column;
}
