<h3
  id="gspb_heading-id-gsbp-55f1c58"
  class="gspb_heading gspb_heading-id-gsbp-55f1c58"
>
  Bestsellers of the week
</h3>

<div id="gspb_text-id-gsbp-4c722aa" class="gspb_text gspb_text-id-gsbp-4c722aa">
  Quam elementum pulvinar etiam non quam. Faucibus nisl tincidunt eget nullam
  non nisi elementum sagittis vitae et leo duis ut diam quam.
</div>

<div class="woocommerce columns-4">
  <ul class="products columns-4" data-products="type-2" data-hover="zoom-in">
    @for (item of botwProducts; track $index) {
    <li
      product
      [productData]="item"
      class="product type-product status-publish first instock product_cat-tables has-post-thumbnail shipping-taxable purchasable product-type-simple"
    ></li>
    }
  </ul>
</div>
