<div class="gspb_row__content">
  <div
    class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-7941c9e"
    id="gspb_col-id-gsbp-7941c9e"
  >
    <h2
      id="gspb_heading-id-gsbp-1acbea7"
      class="gspb_heading gspb_heading-id-gsbp-1acbea7"
    >
      Luxurious Furniture Starts with the Best Quality Materials
    </h2>

    <div
      id="gspb_text-id-gsbp-053513f"
      class="gspb_text gspb_text-id-gsbp-053513f"
    >
      Donec et odio pellentesque diam volutpat commodo amet consectetur
      adipiscing elit ut aliquam purus vitae et leo duis ut diam quam nulla
      porttitor. Sodales ut eu sem integer vitae justo eget magna.
    </div>

    <div
      class="gspb_button_wrapper gspb_button-id-gsbp-ade26ef"
      id="gspb_button-id-gsbp-ade26ef"
    >
      <a
        class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
        href="about-us"
        rel="noopener"
        ><span class="gspb-buttonbox-textwrap"
          ><span class="gspb-buttonbox-text"
            ><span class="gspb-buttonbox-title">Learn More</span></span
          ></span
        ></a
      >
    </div>
  </div>

  <div
    class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-79fb581"
    id="gspb_col-id-gsbp-79fb581"
  >
    <div
      class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-b25201b"
      id="gspb_image-id-gsbp-b25201b"
    >
      <img
        decoding="async"
        src="/imgs/home-mask-image.webp"
        data-src=""
        alt=""
        loading="lazy"
        width="1380"
        height="1050"
      />
      <!-- <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 920 700">
          <clippath id="clipgsbp-b25201b" clipPathUnits="objectBoundingBox">
            <path
              d="M480,30v640c0,16.56854-13.43146,30-30,30H30c-16.56854,0-30-13.43146-30-30V30C0,13.43146,13.43146,0,30,0h420c16.56854,0,30,13.43146,30,30ZM670,0h-120c-16.56854,0-30,13.43146-30,30v640c0,16.56854,13.43146,30,30,30h120c16.56854,0,30-13.43146,30-30V30c0-16.56854-13.43146-30-30-30ZM890,0h-120c-16.56854,0-30,13.43146-30,30v640c0,16.56854,13.43146,30,30,30h120c16.56854,0,30-13.43146,30-30V30c0-16.56854-13.43146-30-30-30Z"
              fill="#fff"
              stroke-width="0"
            ></path>
          </clippath>
        </svg>
      </div> -->
    </div>
  </div>
</div>
