<div data-row="top">
  <div class="ct-container">
    <div data-column="text">
      <div class="ct-header-text" data-id="text">
        <div class="entry-content is-layout-flow">
          <h3>Get in touch with us</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div data-column="contacts">
      <div class="ct-contact-info" data-id="contacts">
        <ul data-icons-type="rounded:outline">
          <li class="">
            <span class="ct-icon-container"
              ><svg>
                <use href="/icons/icons.svg#address-icon"></use></svg
            ></span>
            <div class="contact-info">
              <span class="contact-title"> Address: </span>

              <span class="contact-text"> Street Name, NY 38954 </span>
            </div>
          </li>
          <li class="">
            <span class="ct-icon-container"
              ><svg>
                <use href="/icons/icons.svg#phone-icon"></use></svg
            ></span>
            <div class="contact-info">
              <span class="contact-title"> Phone: </span>

              <span class="contact-text">
                <a href="tel:(000)%20578%20393%204937"> (321) 578 393 4937 </a>
              </span>
            </div>
          </li>
          <li class="">
            <span class="ct-icon-container"
              ><svg>
                <use href="/icons/icons.svg#clock-icon"></use></svg
            ></span>
            <div class="contact-info">
              <span class="contact-title"> Opening hours </span>

              <span class="contact-text"> 9AM - 5PM / 10AM - 3PM </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div data-row="middle">
  <div class="ct-container" data-columns-divider="md">
    @for (item of footerLinks; track $index) {
    <div data-column="widget-area">
      <div class="ct-widget is-layout-flow widget_block" id="block">
        <div
          class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
        >
          <h3
            class="wp-block-heading"
            id="categories-1"
            style="
              font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.078), 15px);
            "
          >
            {{ item.label }}
          </h3>

          <div
            class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
            style="margin-top: 0px; margin-bottom: 0px"
          >
            <div
              data-block-name="woocommerce/product-categories"
              data-has-count="false"
              data-has-empty="true"
              class="wp-block-woocommerce-product-categories wc-block-product-categories is-list"
            >
              <ul
                class="wc-block-product-categories-list wc-block-product-categories-list--depth-0"
              >
                @for (subItem of item.items; track $index) {
                <li class="wc-block-product-categories-list-item">
                  <a [routerLink]="subItem.url"
                    ><span
                      class="wc-block-product-categories-list-item__name"
                      >{{ subItem.label }}</span
                    ></a
                  >
                </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<div data-row="bottom">
  <div class="ct-container">
    <div data-column="copyright">
      <div class="ct-footer-copyright" data-id="copyright">
        <p>
          Copyright © 2025 -
          <a href="https://creativethemes.com/">Chủm</a>
        </p>
      </div>
    </div>
    <div data-column="socials">
      <div class="ct-footer-socials" data-id="socials">
        <div
          class="ct-social-box"
          data-color="custom"
          data-icon-size="custom"
          data-icons-type="simple"
        >
          @for (item of socials; track $index) {
          <a
            href="https://startersites.io/blocksy/furniture/#"
            [attr.data-network]="item.name"
            [attr.aria-label]="item.label"
          >
            <span class="ct-icon-container">
              <svg>
                <use
                  [attr.href]="'/icons/icons.svg#' + item.name + '-icon'"
                ></use>
              </svg>
            </span>
          </a>
          }
        </div>
      </div>
    </div>
    <div data-column="menu">
      <nav
        id="footer-menu"
        class="footer-menu-inline menu-container"
        data-id="menu"
        itemscope=""
        itemtype="https://schema.org/SiteNavigationElement"
        aria-label="Footer Menu"
      >
        <ul id="menu-footer-menu" class="menu">
          @for (item of menuItems; track $index) {
          <li
            id="menu-item"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item"
          >
            <a [href]="item.url" class="ct-menu-link">{{ item.label }}</a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
