<div data-row="top">
  <div class="ct-container">
    <div data-column="text">
      <div class="ct-header-text" data-id="text">
        <div class="entry-content is-layout-flow">
          <h3>Get in touch with us</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div data-column="contacts">
      <div class="ct-contact-info" data-id="contacts">
        <ul data-icons-type="rounded:outline">
          <li class="">
            <span class="ct-icon-container"
              ><svg
                aria-hidden="true"
                width="15"
                height="15"
                viewBox="0 0 15 15"
              >
                <path
                  d="M7.5,0C4.05365,0,1.25,2.80365,1.25,6.25c0,4.65576,5.66223,8.4845,5.90332,8.64502.10498.07019.22583.10498.34668.10498s.2417-.03479.34668-.10498c.24109-.16052,5.90332-3.98926,5.90332-8.64502,0-3.44635-2.80396-6.25-6.25-6.25ZM7.5,13.60657c-1.18561-.87952-5-3.97339-5-7.35657C2.5,3.49304,4.74304,1.25,7.5,1.25s5,2.24304,5,5c0,3.38318-3.81409,6.47705-5,7.35657ZM7.5,3.75c-1.37848,0-2.5,1.12152-2.5,2.5,0,1.37878,1.12152,2.5,2.5,2.5,1.37878,0,2.5-1.12122,2.5-2.5,0-1.37848-1.12122-2.5-2.5-2.5ZM7.5,7.5c-.68939,0-1.25-.56061-1.25-1.25s.56061-1.25,1.25-1.25c.68909,0,1.25.56061,1.25,1.25s-.56091,1.25-1.25,1.25Z"
                ></path></svg
            ></span>
            <div class="contact-info">
              <span class="contact-title"> Address: </span>

              <span class="contact-text"> Street Name, NY 38954 </span>
            </div>
          </li>
          <li class="">
            <span class="ct-icon-container"
              ><svg
                aria-hidden="true"
                width="15"
                height="15"
                viewBox="0 0 15 15"
              >
                <path
                  d="M12.3 15h-.2c-2.1-.2-4.1-1-5.9-2.1-1.6-1-3.1-2.5-4.1-4.1C1 7 .2 5 0 2.9-.1 1.8.7.8 1.8.7H4c1 0 1.9.7 2 1.7.1.6.2 1.1.4 1.7.3.7.1 1.6-.5 2.1l-.4.4c.7 1.1 1.7 2.1 2.9 2.9l.4-.5c.6-.6 1.4-.7 2.1-.5.6.3 1.1.4 1.7.5 1 .1 1.8 1 1.7 2v2c0 .5-.2 1-.6 1.4-.3.4-.8.6-1.4.6zM4 2.1H2c-.2 0-.3.1-.4.2-.1.1-.1.3-.1.4.2 1.9.8 3.7 1.8 5.3.9 1.5 2.2 2.7 3.7 3.7 1.6 1 3.4 1.7 5.3 1.9.2 0 .3-.1.4-.2.1-.1.2-.2.2-.4v-2c0-.3-.2-.5-.5-.6-.7-.1-1.3-.3-2-.5-.2-.1-.4 0-.6.1l-.8.9c-.2.2-.6.3-.9.1C6.4 10 5 8.6 4 6.9c-.2-.3-.1-.7.1-.9l.8-.8c.2-.2.2-.4.1-.6-.2-.6-.4-1.3-.5-2 0-.3-.2-.5-.5-.5zm7.7 4.5c-.4 0-.7-.2-.7-.6-.2-1-1-1.8-2-2-.4 0-.7-.4-.6-.8.1-.4.5-.7.9-.6 1.6.3 2.8 1.5 3.1 3.1.1.4-.2.8-.6.9h-.1zm2.6 0c-.4 0-.7-.3-.7-.6-.3-2.4-2.2-4.3-4.6-4.5-.4-.1-.7-.5-.6-.9 0-.4.4-.6.8-.6 3.1.3 5.4 2.7 5.8 5.8 0 .4-.3.7-.7.8z"
                ></path></svg
            ></span>
            <div class="contact-info">
              <span class="contact-title"> Phone: </span>

              <span class="contact-text">
                <a href="tel:(000)%20578%20393%204937"> (321) 578 393 4937 </a>
              </span>
            </div>
          </li>
          <li class="">
            <span class="ct-icon-container"
              ><svg
                aria-hidden="true"
                width="15"
                height="15"
                viewBox="0 0 15 15"
              >
                <path
                  d="M7.5,0C3.4,0,0,3.4,0,7.5S3.4,15,7.5,15S15,11.6,15,7.5S11.6,0,7.5,0z M7.5,13.6c-3.4,0-6.1-2.8-6.1-6.1c0-3.4,2.8-6.1,6.1-6.1c3.4,0,6.1,2.8,6.1,6.1C13.6,10.9,10.9,13.6,7.5,13.6z M10.8,9.2c-0.1,0.2-0.4,0.4-0.6,0.4c-0.1,0-0.2,0-0.3-0.1L7.2,8.1C7,8,6.8,7.8,6.8,7.5V4c0-0.4,0.3-0.7,0.7-0.7S8.2,3.6,8.2,4v3.1l2.4,1.2C10.9,8.4,11,8.8,10.8,9.2z"
                ></path></svg
            ></span>
            <div class="contact-info">
              <span class="contact-title"> Opening hours </span>

              <span class="contact-text"> 9AM - 5PM / 10AM - 3PM </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div data-row="middle">
  <div class="ct-container" data-columns-divider="md">
    <div data-column="widget-area-1">
      <div class="ct-widget is-layout-flow widget_block" id="block-8">
        <div
          class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
        >
          <h3
            class="wp-block-heading"
            id="categories-1"
            style="
              font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.078), 15px);
            "
          >
            Shop Categories
          </h3>

          <div
            class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
            style="margin-top: 0px; margin-bottom: 0px"
          >
            <div
              data-block-name="woocommerce/product-categories"
              data-has-count="false"
              data-has-empty="true"
              class="wp-block-woocommerce-product-categories wc-block-product-categories is-list"
              style=""
            >
              <ul
                class="wc-block-product-categories-list wc-block-product-categories-list--depth-0"
              >
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/armchairs/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Armchairs</span
                    ></a
                  >
                </li>
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/beds/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Beds</span
                    ></a
                  >
                </li>
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/chairs/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Chairs</span
                    ></a
                  >
                </li>
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/decor/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Decor</span
                    ></a
                  >
                </li>
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/sofas/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Sofas</span
                    ></a
                  >
                </li>
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/storage/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Storage</span
                    ></a
                  >
                </li>
                <li class="wc-block-product-categories-list-item">
                  <a
                    style=""
                    href="https://startersites.io/blocksy/furniture/product-category/tables/"
                    ><span class="wc-block-product-categories-list-item__name"
                      >Tables</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-column="widget-area-2">
      <div class="ct-widget is-layout-flow widget_block" id="block-9">
        <div
          class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
        >
          <h3
            class="wp-block-heading"
            id="categories-1"
            style="
              font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.078), 15px);
            "
          >
            Useful Links
          </h3>

          <ul class="wp-block-list">
            <li>
              <a href="https://startersites.io/blocksy/furniture/#">Careers</a>
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#">Delivery</a>
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Help Center</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Returns &amp; Refunds</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Newsletter</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#">Status</a>
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Testimonials</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-column="widget-area-3">
      <div class="ct-widget is-layout-flow widget_block" id="block-10">
        <div
          class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
        >
          <h3
            class="wp-block-heading"
            id="categories-1"
            style="
              font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.078), 15px);
            "
          >
            Account
          </h3>

          <ul class="wp-block-list">
            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >User Dashboard</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#">Wishlist</a>
            </li>

            <li>
              <a href="https://startersites.io/blocksy/cosmetic/#"
                >Shipping &amp; Delivery</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Affiliate Program</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Brand Assets</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#">Support</a>
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Recommendations</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-column="widget-area-4">
      <div class="ct-widget is-layout-flow widget_block" id="block-11">
        <div
          class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
        >
          <h3
            class="wp-block-heading"
            id="categories-1"
            style="
              font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.078), 15px);
            "
          >
            About Company
          </h3>

          <ul class="wp-block-list">
            <li>
              <a href="https://startersites.io/blocksy/furniture/#">About Us</a>
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Our Partners</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Locations</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Design Services</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >How it Works</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Customers</a
              >
            </li>

            <li>
              <a href="https://startersites.io/blocksy/furniture/#"
                >Other Info</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-row="bottom">
  <div class="ct-container">
    <div data-column="copyright">
      <div class="ct-footer-copyright" data-id="copyright">
        <p>
          Copyright © 2025 -
          <a href="https://creativethemes.com/">CreativeThemes</a>
        </p>
      </div>
    </div>
    <div data-column="socials">
      <div class="ct-footer-socials" data-id="socials">
        <div
          class="ct-social-box"
          data-color="custom"
          data-icon-size="custom"
          data-icons-type="simple"
        >
          <a
            href="https://startersites.io/blocksy/furniture/#"
            data-network="facebook"
            aria-label="Facebook"
          >
            <span class="ct-icon-container">
              <svg
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  d="M20,10.1c0-5.5-4.5-10-10-10S0,4.5,0,10.1c0,5,3.7,9.1,8.4,9.9v-7H5.9v-2.9h2.5V7.9C8.4,5.4,9.9,4,12.2,4c1.1,0,2.2,0.2,2.2,0.2v2.5h-1.3c-1.2,0-1.6,0.8-1.6,1.6v1.9h2.8L13.9,13h-2.3v7C16.3,19.2,20,15.1,20,10.1z"
                ></path>
              </svg>
            </span>
          </a>

          <a
            href="https://startersites.io/blocksy/furniture/#"
            data-network="twitter"
            aria-label="X (Twitter)"
          >
            <span class="ct-icon-container">
              <svg
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  d="M2.9 0C1.3 0 0 1.3 0 2.9v14.3C0 18.7 1.3 20 2.9 20h14.3c1.6 0 2.9-1.3 2.9-2.9V2.9C20 1.3 18.7 0 17.1 0H2.9zm13.2 3.8L11.5 9l5.5 7.2h-4.3l-3.3-4.4-3.8 4.4H3.4l5-5.7-5.3-6.7h4.4l3 4 3.5-4h2.1zM14.4 15 6.8 5H5.6l7.7 10h1.1z"
                ></path>
              </svg>
            </span>
          </a>

          <a
            href="https://startersites.io/blocksy/furniture/#"
            data-network="instagram"
            aria-label="Instagram"
          >
            <span class="ct-icon-container">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <circle cx="10" cy="10" r="3.3"></circle>
                <path
                  d="M14.2,0H5.8C2.6,0,0,2.6,0,5.8v8.3C0,17.4,2.6,20,5.8,20h8.3c3.2,0,5.8-2.6,5.8-5.8V5.8C20,2.6,17.4,0,14.2,0zM10,15c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S12.8,15,10,15z M15.8,5C15.4,5,15,4.6,15,4.2s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S16.3,5,15.8,5z"
                ></path>
              </svg>
            </span>
          </a>

          <a
            href="https://startersites.io/blocksy/furniture/#"
            data-network="linkedin"
            aria-label="LinkedIn"
          >
            <span class="ct-icon-container">
              <svg
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  d="M18.6,0H1.4C0.6,0,0,0.6,0,1.4v17.1C0,19.4,0.6,20,1.4,20h17.1c0.8,0,1.4-0.6,1.4-1.4V1.4C20,0.6,19.4,0,18.6,0z M6,17.1h-3V7.6h3L6,17.1L6,17.1zM4.6,6.3c-1,0-1.7-0.8-1.7-1.7s0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7C6.3,5.5,5.5,6.3,4.6,6.3z M17.2,17.1h-3v-4.6c0-1.1,0-2.5-1.5-2.5c-1.5,0-1.8,1.2-1.8,2.5v4.7h-3V7.6h2.8v1.3h0c0.4-0.8,1.4-1.5,2.8-1.5c3,0,3.6,2,3.6,4.5V17.1z"
                ></path>
              </svg>
            </span>
          </a>

          <a
            href="https://startersites.io/blocksy/furniture/#"
            data-network="medium"
            aria-label="Medium"
          >
            <span class="ct-icon-container">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  d="M2.4,5.3c0-0.2-0.1-0.5-0.3-0.7L0.3,2.4V2.1H6l4.5,9.8l3.9-9.8H20v0.3l-1.6,1.5c-0.1,0.1-0.2,0.3-0.2,0.4v11.2c0,0.2,0,0.3,0.2,0.4l1.6,1.5v0.3h-7.8v-0.3l1.6-1.6c0.2-0.2,0.2-0.2,0.2-0.4V6.5L9.4,17.9H8.8L3.6,6.5v7.6c0,0.3,0.1,0.6,0.3,0.9L6,17.6v0.3H0v-0.3L2.1,15c0.2-0.2,0.3-0.6,0.3-0.9V5.3z"
                ></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div data-column="menu">
      <nav
        id="footer-menu"
        class="footer-menu-inline menu-container"
        data-id="menu"
        itemscope=""
        itemtype="https://schema.org/SiteNavigationElement"
        aria-label="Footer Menu"
      >
        <ul id="menu-footer-menu" class="menu">
          <li
            id="menu-item-244"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"
          >
            <a
              href="https://startersites.io/blocksy/furniture/#"
              class="ct-menu-link"
              >Privacy Policy</a
            >
          </li>
          <li
            id="menu-item-245"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"
          >
            <a
              href="https://startersites.io/blocksy/furniture/#"
              class="ct-menu-link"
              >Terms &amp; Conditions</a
            >
          </li>
          <li
            id="menu-item-246"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-246"
          >
            <a
              href="https://startersites.io/blocksy/furniture/#"
              class="ct-menu-link"
              >Site Map</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
