[data-footer*="type-1"] .ct-footer [data-row*="bottom"]>div {
    --container-spacing: 30px;
    --theme-border: none;
    --theme-border-top: none;
    --theme-border-bottom: none;
    --grid-template-columns: repeat(3, 1fr);
}
[data-footer*="type-1"] .ct-footer [data-row*="bottom"] {
    --theme-border-top: none;
    --theme-border-bottom: none;
    background-color: transparent;
}
[data-footer*="type-1"] [data-id="copyright"] {
    --theme-font-weight: 400;
    --theme-font-size: 14px;
    --theme-line-height: 1.3;
}
[data-footer*="type-1"] .ct-footer [data-column="menu"] {
    --horizontal-alignment: flex-end;
}
[data-footer*="type-1"] .ct-footer [data-id="menu"] ul {
    --theme-font-weight: 400;
    --theme-text-transform: capitalize;
    --theme-font-size: 14px;
    --theme-line-height: 1.3;
}
[data-footer*="type-1"] .ct-footer [data-id="menu"]>ul>li>a {
    --theme-link-initial-color: var(--theme-text-color);
}
[data-footer*="type-1"] .ct-footer [data-row*="middle"]>div {
    --container-spacing: 40px;
    --theme-border: none;
    --theme-border-top: none;
    --theme-border-bottom: 1px solid #dfe7e9;
    --grid-template-columns: repeat(4, 1fr);
}
[data-footer*="type-1"] .ct-footer [data-row*="middle"] {
    --theme-border-top: none;
    --theme-border-bottom: none;
    background-color: transparent;
}
[data-footer*="type-1"] [data-id="socials"].ct-footer-socials {
    --theme-icon-size: 13px;
    --items-spacing: 30px;
}
[data-footer*="type-1"] [data-column="socials"] {
    --horizontal-alignment: center;
}
[data-footer*="type-1"] [data-id="socials"].ct-footer-socials [data-color="custom"] {
    --background-color: rgba(218, 222, 228, 0.3);
    --background-hover-color: var(--theme-palette-color-1);
}
[data-footer*="type-1"] .ct-footer [data-row*="top"]>div {
    --container-spacing: 40px;
    --vertical-alignment: center;
    --theme-border: none;
    --theme-border-top: none;
    --theme-border-bottom: 1px solid #dfe7e9;
    --grid-template-columns: 1fr 2fr;
}
[data-footer*="type-1"] .ct-footer [data-row*="top"] {
    --theme-border-top: none;
    --theme-border-bottom: none;
    background-color: transparent;
}
[data-footer*="type-1"] .ct-footer [data-id="text"] {
    --max-width: 100%;
    --theme-font-size: 15px;
    --theme-line-height: 1.3;
}
[data-footer*="type-1"] .ct-footer [data-id="contacts"] {
    --items-spacing: 70px;
    --theme-font-size: 13px;
    --theme-line-height: 1.4;
    --background-color: #dfe7e9;
    --background-hover-color: #dfe7e9;
    --items-direction: row;
}
[data-footer*="type-1"] .ct-footer [data-column="contacts"] {
    --horizontal-alignment: flex-end;
}
[data-footer*="type-1"] .ct-footer {
    background-color: var(--theme-palette-color-6);
}
.mobile-menu-inline ul,
.footer-menu-inline ul {
    flex-wrap: wrap;
    justify-content: var(--horizontal-alignment);
    row-gap: calc(var(--menu-items-spacing, 25px)/2);
    margin: 0 calc(var(--menu-items-spacing, 25px)/2*-1)
}
.footer-menu-inline {
    --menu-item-alignment: var(--horizontal-alignment)
}
.footer-menu-inline li {
    width: var(--menu-item-width)
}
.ct-header-text {
    color: var(--theme-text-color);
    text-align: var(--horizontal-alignment)
}
.ct-header-text .entry-content {
    width: 100%
}
.ct-footer {
    padding: var(--footer-container-padding)
}
.ct-footer [data-row]>div {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-column-gap: var(--columns-gap, 50px);
    grid-row-gap: var(--columns-gap, 50px);
    padding-block: var(--container-spacing)
}
.ct-footer [data-row]>div {
    border-top: var(--theme-border-top);
    border-bottom: var(--theme-border-bottom)
}
.ct-footer [data-column] {
    display: flex;
    flex-direction: column;
    align-items: var(--horizontal-alignment);
    justify-content: var(--vertical-alignment, flex-start);
    min-width: 0
}
.ct-footer [data-column*=widget] {
    text-align: var(--text-horizontal-alignment)
}
.ct-footer [data-row] {
    border-top: var(--theme-border-top);
    border-bottom: var(--theme-border-bottom)
}
[data-columns-divider] {
    position: relative
}
.ct-footer [data-column]>[data-id] {
    margin: var(--margin)
}
[data-column*=copyright] {
    display: flex;
    flex-direction: column;
    justify-content: var(--vertical-alignment);
    text-align: var(--horizontal-alignment)
}
.ct-footer-copyright {
    color: var(--theme-text-color);
    --theme-content-spacing: 0;
    --theme-link-initial-color: var(--theme-text-color)
}
.ct-footer-socials .ct-social-box {
    justify-content: var(--horizontal-alignment)
}
.ct-footer .ct-widget {
    color: var(--theme-text-color);
    margin: var(--margin);
    --theme-link-initial-color: var(--theme-text-color)
}
.wc-block-product-categories {
    margin-bottom: 1em
}
.wp-block-group {
    box-sizing: border-box
}
[data-wpr-lazyrender] {
    content-visibility: auto;
}
