<main id="main" class="site-main hfeed">
  <div
    class="ct-container-full"
    data-content="normal"
    data-vertical-spacing="top:bottom"
  >
    <article id="post-9" class="post-9 page type-page status-publish hentry">
      <div class="hero-section is-width-constrained" data-type="type-1">
        <header class="entry-header">
          <h1 class="page-title" title="Checkout" itemprop="headline">
            Checkout
          </h1>
        </header>
      </div>

      <div class="entry-content is-layout-constrained">
        <div class="woocommerce">
          <form
            name="checkout"
            method="post"
            class="checkout woocommerce-checkout ct-woocommerce-checkout"
            action="https://startersites.io/blocksy/furniture/checkout/"
            enctype="multipart/form-data"
            aria-label="Checkout"
            novalidate="novalidate"
          >
            @if(errors && errors.length > 0) {
            <div
              class="woocommerce-NoticeGroup woocommerce-NoticeGroup-checkout"
            >
              <div role="alert">
                <ul class="woocommerce-error" tabindex="-1">
                  @for (item of errors; track $index) {
                  <li data-id="{{ item }}">
                    <a href="#{{ item }}">
                      <strong>{{
                        item
                          .replace("billing_", "")
                          .replace("_", " ")
                          .toUpperCase()
                      }}</strong>
                      is a required field.
                    </a>
                  </li>
                  }
                </ul>
              </div>
            </div>
            }

            <div class="ct-customer-details">
              <div class="col2-set" id="customer_details">
                <div class="col-1">
                  <div class="woocommerce-billing-fields">
                    <h3>Billing details</h3>

                    <div class="woocommerce-billing-fields__field-wrapper">
                      <p
                        class="form-row form-row-first validate-required"
                        id="billing_first_name_field"
                        data-priority="10"
                      >
                        <label for="billing_first_name" class="required_field"
                          >First name&nbsp;<span
                            class="required"
                            aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="text"
                            class="input-text"
                            name="billing_first_name"
                            id="billing_first_name"
                            placeholder=""
                            [(ngModel)]="currentOrder.firstname"
                            aria-required="true"
                            autocomplete="given-name"
                        /></span>
                      </p>
                      <p
                        class="form-row form-row-last validate-required"
                        id="billing_last_name_field"
                        data-priority="20"
                      >
                        <label for="billing_last_name" class="required_field"
                          >Last name&nbsp;<span
                            class="required"
                            aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="text"
                            class="input-text"
                            name="billing_last_name"
                            id="billing_last_name"
                            placeholder=""
                            [(ngModel)]="currentOrder.lastname"
                            aria-required="true"
                            autocomplete="family-name"
                        /></span>
                      </p>
                      <p
                        class="form-row address-field validate-required form-row-wide"
                        id="billing_address_1_field"
                        data-priority="50"
                      >
                        <label for="billing_address_1" class="required_field"
                          >Street address&nbsp;<span
                            class="required"
                            aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="text"
                            class="input-text"
                            name="billing_address_1"
                            id="billing_address_1"
                            placeholder="House number and street name"
                            [(ngModel)]="billingAddress1"
                            (input)="updateStreet()"
                            aria-required="true"
                            autocomplete="address-line1"
                            data-placeholder="House number and street name"
                        /></span>
                      </p>
                      <p
                        class="form-row address-field form-row-wide"
                        id="billing_address_2_field"
                        data-priority="60"
                      >
                        <label
                          for="billing_address_2"
                          class="screen-reader-text"
                          >Apartment, suite, unit, etc.&nbsp;<span
                            class="optional"
                            >(optional)</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="text"
                            class="input-text"
                            name="billing_address_2"
                            id="billing_address_2"
                            placeholder="Apartment, suite, unit, etc. (optional)"
                            [(ngModel)]="billingAddress2"
                            (input)="updateStreet()"
                            autocomplete="address-line2"
                            data-placeholder="Apartment, suite, unit, etc. (optional)"
                        /></span>
                      </p>
                      <p
                        class="form-row address-field validate-required form-row-wide"
                        id="billing_city_field"
                        data-priority="70"
                        data-o_class="form-row form-row-wide address-field validate-required"
                      >
                        <label for="billing_city" class="required_field"
                          >Town / City&nbsp;<span
                            class="required"
                            aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="text"
                            class="input-text"
                            name="billing_city"
                            id="billing_city"
                            placeholder=""
                            [(ngModel)]="currentOrder.town"
                            aria-required="true"
                            autocomplete="address-level2"
                        /></span>
                      </p>
                      <p
                        class="form-row address-field validate-required validate-postcode form-row-wide"
                        id="billing_postcode_field"
                        data-priority="90"
                        data-o_class="form-row form-row-wide address-field validate-required validate-postcode"
                      >
                        <label for="billing_postcode" class="required_field"
                          >ZIP Code&nbsp;<span
                            class="required"
                            aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="text"
                            class="input-text"
                            name="billing_postcode"
                            id="billing_postcode"
                            placeholder=""
                            [(ngModel)]="currentOrder.postcode"
                            aria-required="true"
                            autocomplete="postal-code"
                        /></span>
                      </p>
                      <p
                        class="form-row form-row-wide validate-required validate-phone"
                        id="billing_phone_field"
                        data-priority="100"
                      >
                        <label for="billing_phone" class="required_field"
                          >Phone&nbsp;<span class="required" aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="tel"
                            class="input-text"
                            name="billing_phone"
                            id="billing_phone"
                            placeholder=""
                            [(ngModel)]="currentOrder.phone"
                            aria-required="true"
                            autocomplete="tel"
                        /></span>
                      </p>
                      <p
                        class="form-row form-row-wide validate-required validate-email"
                        id="billing_email_field"
                        data-priority="110"
                      >
                        <label for="billing_email" class="required_field"
                          >Email address&nbsp;<span
                            class="required"
                            aria-hidden="true"
                            >*</span
                          ></label
                        ><span class="woocommerce-input-wrapper"
                          ><input
                            type="email"
                            class="input-text"
                            name="billing_email"
                            id="billing_email"
                            placeholder=""
                            [(ngModel)]="currentOrder.email"
                            aria-required="true"
                            autocomplete="email"
                        /></span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-2">
                  <div class="woocommerce-shipping-fields"></div>
                  <div class="woocommerce-additional-fields">
                    <h3>Additional information</h3>

                    <div class="woocommerce-additional-fields__field-wrapper">
                      <p
                        class="form-row notes"
                        id="order_comments_field"
                        data-priority=""
                      >
                        <label for="order_comments" class=""
                          >Order notes&nbsp;<span class="optional"
                            >(optional)</span
                          ></label
                        ><span class="woocommerce-input-wrapper">
                          <textarea
                            name="order_comments"
                            class="input-text"
                            id="order_comments"
                            placeholder="Notes about your order, e.g. special notes for delivery."
                            rows="2"
                            cols="5"
                            [(ngModel)]="currentOrder.additionalInfo"
                          ></textarea>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ct-order-review">
              <h3 id="order_review_heading">Your order</h3>

              <div id="order_review" class="woocommerce-checkout-review-order">
                <table
                  class="shop_table woocommerce-checkout-review-order-table"
                >
                  <thead>
                    <tr>
                      <th class="product-name">Product</th>
                      <th class="product-total">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of cartItems; track $index) {
                    <tr [cartIem]="item" cart-item class="cart_item"></tr>
                    }
                  </tbody>
                  <tfoot>
                    <tr class="cart-subtotal">
                      <th>Subtotal</th>
                      <td>
                        <span class="woocommerce-Price-amount amount"
                          ><bdi
                            ><span class="woocommerce-Price-currencySymbol"
                              >$</span
                            >{{ getTotalPrice() }}</bdi
                          ></span
                        >
                      </td>
                    </tr>

                    <tr class="order-total">
                      <th>Total</th>
                      <td>
                        <strong
                          ><span class="woocommerce-Price-amount amount"
                            ><bdi
                              ><span class="woocommerce-Price-currencySymbol"
                                >$</span
                              >{{ getTotalPrice() }}</bdi
                            ></span
                          ></strong
                        >
                      </td>
                    </tr>
                  </tfoot>
                </table>

                <div id="payment" class="woocommerce-checkout-payment">
                  <div class="form-row place-order">
                    <noscript>
                      Since your browser does not support JavaScript, or it is
                      disabled, please ensure you click the
                      <em>Update Totals</em> button before placing your order.
                      You may be charged more than the amount stated above if
                      you fail to do so. <br /><button
                        (click)="handleSubmit()"
                        class="button alt"
                        name="woocommerce_checkout_update_totals"
                        value="Update totals"
                      >
                        Update totals
                      </button>
                    </noscript>

                    <div class="woocommerce-terms-and-conditions-wrapper">
                      <div class="woocommerce-privacy-policy-text">
                        <p>
                          Your personal data will be used to process your order,
                          support your experience throughout this website, and
                          for other purposes described in our
                          <a
                            href="https://startersites.io/blocksy/furniture/?page_id=3"
                            class="woocommerce-privacy-policy-link"
                            target="_blank"
                            >privacy policy</a
                          >.
                        </p>
                      </div>
                    </div>

                    <button
                      (click)="handleSubmit()"
                      type="submit"
                      class="button alt"
                      name="woocommerce_checkout_place_order"
                      id="place_order"
                      value="Place order"
                      data-value="Place order"
                    >
                      Place order
                    </button>

                    <input
                      type="hidden"
                      id="woocommerce-process-checkout-nonce"
                      name="woocommerce-process-checkout-nonce"
                      value="365c78dc37"
                    /><input
                      type="hidden"
                      name="_wp_http_referer"
                      value="/blocksy/furniture/?wc-ajax=update_order_review"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </article>
  </div>
</main>
