<div data-column="start" data-placements="1">
  <div data-items="primary">
    <nav
      id="header-menu-2"
      class="header-menu-2 menu-container"
      data-id="menu-secondary"
      data-interaction="hover"
      data-menu="type-1"
      data-dropdown="type-1:simple"
      data-responsive="yes"
      itemscope=""
      itemtype="https://schema.org/SiteNavigationElement"
      aria-label="Categories Menu"
    >
      <ul id="menu-categories-menu" class="menu">
        @for (item of categories; track $index) {
        <li
          class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item"
        >
          <a href="/product-category/{{ item.link }}" class="ct-menu-link"
            ><span class="ct-icon-container ct-left"
              ><svg>
                <use
                  [attr.href]="'/icons/icons.svg#' + item.icon"
                ></use></svg></span
            >{{ item.label }}</a
          >
        </li>
        }
      </ul>
    </nav>
  </div>
</div>
<div data-column="end" data-placements="1">
  <div data-items="primary">
    <div class="ct-contact-info" data-id="contacts">
      <ul data-icons-type="rounded:outline">
        <li class="">
          <span class="ct-icon-container"
            ><svg aria-hidden="true" width="15" height="15">
              <use href="/icons/icons.svg#address-icon"></use></svg
          ></span>
          <div class="contact-info">
            <span class="contact-title"> Address: </span>

            <span class="contact-text"> Street Name, NY 38954 </span>
          </div>
        </li>
        <li class="">
          <span class="ct-icon-container"
            ><svg aria-hidden="true" width="15" height="15">
              <use href="/icons/icons.svg#phone-icon"></use></svg
          ></span>
          <div class="contact-info">
            <span class="contact-title"> Phone: </span>

            <span class="contact-text">
              <a href="tel:578-393-4937"> 578-393-4937 </a>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
