<div data-items="primary">
  <div
    class="site-branding"
    data-id="logo"
    itemscope="itemscope"
    itemtype="https://schema.org/Organization"
  >
    <a routerLink="/" class="site-logo-container" rel="home" itemprop="url">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 117 25"
        class="default-logo"
        aria-label="Furniture"
        role="img"
      >
        <use href="/icons/icons.svg#default-logo"></use>
      </svg>
    </a>
  </div>

  <div class="ct-search-box" data-id="search-input">
    <form
      role="search"
      method="get"
      class="ct-search-form"
      data-form-controls="inside"
      data-taxonomy-filter="false"
      data-submit-button="icon"
      action=""
      aria-haspopup="listbox"
      data-live-results="thumbs:product_price"
    >
      <input
        type="search"
        placeholder="Search"
        value=""
        name="s"
        autocomplete="off"
        title="Search for..."
        aria-label="Search for..."
        (input)="onSearchInputChange($event)"
      />

      <div class="ct-search-form-controls">
        <button
          type="submit"
          class="wp-element-button"
          data-button="inside:icon"
          aria-label="Search button"
        >
          <svg
            class="ct-icon ct-search-button-content"
            aria-hidden="true"
            width="15"
            height="15"
            viewBox="0 0 15 15"
          >
            <use href="/icons/icons.svg#search-button"></use>
          </svg>
          <span class="ct-ajax-loader">
            <svg viewBox="0 0 24 24">
              <use href="/icons/icons.svg#loader"></use>
            </svg>
          </span>
        </button>

        <input type="hidden" name="post_type" value="product" />

        <input type="hidden" value="f4121827d8" class="ct-live-results-nonce" />
      </div>

      @if (searchedProduct.length > 0 && searchValue) {
      <div
        class="ct-search-results ct-fade-leave"
        role="listbox"
        aria-label="Search results"
      >
        @for (item of searchedProduct; track $index) {
        <a
          class="ct-search-item"
          role="option"
          [routerLink]="'product/' + formatProductName(item.name) + '/'"
        >
          <span class="ct-media-container">
            <img [src]="item.image" style="aspect-ratio: 1 / 1"
          /></span>
          <span
            >{{ item.name
            }}<span class="product-search-meta">
              <small class="price">
                <span class="sale-price">
                  @if(item.discount_percentage > 0) {
                  <del aria-hidden="true">
                    <span class="woocommerce-Price-amount amount">
                      <bdi>
                        <span class="woocommerce-Price-currencySymbol">$</span
                        >{{ item.price }}</bdi
                      >
                    </span>
                  </del>
                  <span class="screen-reader-text"
                    >Original price was: ${{ item.price }}.</span
                  >
                  <ins aria-hidden="true">
                    <span class="woocommerce-Price-amount amount">
                      <bdi>
                        <span class="woocommerce-Price-currencySymbol">$</span
                        >{{
                          item.price -
                            (item.price * item.discount_percentage) / 100
                        }}</bdi
                      >
                    </span>
                  </ins>
                  <span class="screen-reader-text"
                    >Current price is: ${{
                      item.price -
                        (item.price * item.discount_percentage) / 100
                    }}.</span
                  >
                  } @else {
                  <ins aria-hidden="true">
                    <span class="woocommerce-Price-amount amount">
                      <bdi>
                        <span class="woocommerce-Price-currencySymbol">$</span
                        >{{ item.price }}</bdi
                      >
                    </span>
                  </ins>
                  }
                </span>
              </small>
            </span>
          </span>
        </a>
        }
      </div>
      }
    </form>
  </div>
</div>
