<div data-items="primary">
  <div
    class="site-branding"
    data-id="logo"
    itemscope="itemscope"
    itemtype="https://schema.org/Organization"
  >
    <a routerLink="/" class="site-logo-container" rel="home" itemprop="url">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 117 25"
        class="default-logo"
        aria-label="Furniture"
        role="img"
      >
        <use href="/icons/icons.svg#default-logo"></use>
      </svg>
    </a>
  </div>

  <div class="ct-search-box" data-id="search-input">
    <form
      role="search"
      method="get"
      class="ct-search-form"
      data-form-controls="inside"
      data-taxonomy-filter="false"
      data-submit-button="icon"
      action="https://startersites.io/blocksy/furniture/"
      aria-haspopup="listbox"
      data-live-results="thumbs:product_price"
    >
      <input
        type="search"
        placeholder="Search"
        value=""
        name="s"
        autocomplete="off"
        title="Search for..."
        aria-label="Search for..."
      />

      <div class="ct-search-form-controls">
        <button
          type="submit"
          class="wp-element-button"
          data-button="inside:icon"
          aria-label="Search button"
        >
          <svg
            class="ct-icon ct-search-button-content"
            aria-hidden="true"
            width="15"
            height="15"
            viewBox="0 0 15 15"
          >
            <use href="/icons/icons.svg#search-button"></use>
          </svg>
          <span class="ct-ajax-loader">
            <svg viewBox="0 0 24 24">
              <use href="/icons/icons.svg#loader"></use>
            </svg>
          </span>
        </button>

        <input type="hidden" name="post_type" value="product" />

        <input type="hidden" value="f4121827d8" class="ct-live-results-nonce" />
      </div>

      <div class="screen-reader-text" aria-live="polite" role="status">
        No results
      </div>
    </form>
  </div>
</div>
