<div class="ct-block-wrapper">
  <h3
    class="wp-block-heading widget-title"
    id="filter"
    style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
  >
    Filter by color
  </h3>

  <div class="ct-filter-widget-wrapper">
    <ul
      class="ct-filter-widget"
      data-display-type="list"
      data-swatches-type="color"
      data-swatches-shape="round"
    >
      @for (color of colors; track $index) {
      <li
        class="ct-filter-item"
        [ngClass]="{ active: isColorSelected(color.label.toLocaleLowerCase()) }"
      >
        <div class="ct-filter-item-inner">
          <a
            rel="nofollow"
            [attr.aria-label]="color.label"
            (click)="onColorSelect(color.label.toLocaleLowerCase(), $event)"
            data-key="color"
            data-value="38"
          >
            <div class="ct-swatch-container" data-value="beige">
              <span
                class="ct-swatch"
                [style.background-color]="'#' + color.swatch"
              ></span>
            </div>
            <span class="ct-filter-label">{{ color.label }}</span>
            <span class="ct-filter-count">{{ color.count }}</span>
          </a>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
