<div class="gspb_row__content">
    <div
      class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-a4479cf"
      id="gspb_col-id-gsbp-a4479cf"
    >
      <h3
        id="gspb_heading-id-gsbp-4895519"
        class="gspb_heading gspb_heading-id-gsbp-4895519"
      >
        Browse by rooms
      </h3>

      <div
        id="gspb_text-id-gsbp-f28ca04"
        class="gspb_text gspb_text-id-gsbp-f28ca04"
      >
        Sit massa etiam urna id. Non pulvinar aenean ultrices lectus
        vitae imperdiet vulputate a eu. Aliquet ullamcorper leo mi vel
        sit pretium euismod eget.
      </div>

      <div
        class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-b718f2a"
        id="gspb_container-id-gsbp-b718f2a"
      >
        <div
          class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-86d20fd"
          id="gspb_container-id-gsbp-86d20fd"
        >
          <div
            class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-6a4ce2b"
            id="gspb_container-id-gsbp-6a4ce2b"
          >
            <h6
              id="gspb_heading-id-gsbp-0badc59"
              class="gspb_heading gspb_heading-id-gsbp-0badc59"
            >
              Living Room
            </h6>

            <div
              id="gspb_text-id-gsbp-f31d7b9"
              class="gspb_text gspb_text-id-gsbp-f31d7b9"
            >
              15 products
            </div>
          </div>
        </div>

        <div
          class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-44a4f88"
          id="gspb_image-id-gsbp-44a4f88"
        >
          <img
            decoding="async"
            src="/imgs/browse-by-rooms-image-1-1.webp"
            data-src=""
            alt=""
            loading="lazy"
            width="879"
            height="690"
          />
        </div>
      </div>
    </div>

    <div
      class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-77f4e89"
      id="gspb_col-id-gsbp-77f4e89"
    >
      <div
        class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-510d5a1"
        id="gspb_container-id-gsbp-510d5a1"
      >
        <div
          class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-39dcc78"
          id="gspb_container-id-gsbp-39dcc78"
        >
          <div
            class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-27f1720"
            id="gspb_container-id-gsbp-27f1720"
          >
            <h6
              id="gspb_heading-id-gsbp-94febf0"
              class="gspb_heading gspb_heading-id-gsbp-94febf0"
            >
              Bedroom
            </h6>

            <div
              id="gspb_text-id-gsbp-f0246e0"
              class="gspb_text gspb_text-id-gsbp-f0246e0"
            >
              24 products
            </div>
          </div>
        </div>

        <div
          class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-c06776f"
          id="gspb_image-id-gsbp-c06776f"
        >
          <img
            decoding="async"
            src="/imgs/browse-by-rooms-image-2-1.webp"
            data-src=""
            alt=""
            loading="lazy"
            width="879"
            height="429"
          />
        </div>
      </div>

      <div
        class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-c3f25fa gspb_row--gutter-custom-0"
        id="gspb_row-id-gsbp-c3f25fa"
      >
        <div class="gspb_row__content">
          <div
            class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_col-id-gsbp-9f5b371"
            id="gspb_col-id-gsbp-9f5b371"
          >
            <div
              class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-6fa4eb8"
              id="gspb_container-id-gsbp-6fa4eb8"
            >
              <div
                class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-68f19f8"
                id="gspb_container-id-gsbp-68f19f8"
              >
                <div
                  class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-63a4ca0"
                  id="gspb_container-id-gsbp-63a4ca0"
                >
                  <h6
                    id="gspb_heading-id-gsbp-41c0d39"
                    class="gspb_heading gspb_heading-id-gsbp-41c0d39"
                  >
                    Walk-in Closet
                  </h6>

                  <div
                    id="gspb_text-id-gsbp-b07835a"
                    class="gspb_text gspb_text-id-gsbp-b07835a"
                  >
                    30 products
                  </div>
                </div>
              </div>

              <div
                class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-ef80be4"
                id="gspb_image-id-gsbp-ef80be4"
              >
                <img
                  decoding="async"
                  src="/imgs/browse-by-rooms-image-3.webp"
                  data-src=""
                  alt=""
                  loading="lazy"
                  width="422"
                  height="420"
                />
              </div>
            </div>
          </div>

          <div
            class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_col-id-gsbp-5471a7b"
            id="gspb_col-id-gsbp-5471a7b"
          >
            <div
              class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-be6939b"
              id="gspb_container-id-gsbp-be6939b"
            >
              <div
                class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-6578283"
                id="gspb_container-id-gsbp-6578283"
              >
                <div
                  class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-9cb4720"
                  id="gspb_container-id-gsbp-9cb4720"
                >
                  <h6
                    id="gspb_heading-id-gsbp-8327fd0"
                    class="gspb_heading gspb_heading-id-gsbp-8327fd0"
                  >
                    Kitchen
                  </h6>

                  <div
                    id="gspb_text-id-gsbp-9510211"
                    class="gspb_text gspb_text-id-gsbp-9510211"
                  >
                    24 products
                  </div>
                </div>
              </div>

              <div
                class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-5cdadc2"
                id="gspb_image-id-gsbp-5cdadc2"
              >
                <img
                  decoding="async"
                  src="/imgs/browse-by-rooms-image-4-1.webp"
                  data-src=""
                  alt=""
                  loading="lazy"
                  width="420"
                  height="420"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>