<div
  class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-672ffc6"
  id="gspb_col-id-gsbp-672ffc6"
>
  <h2
    id="gspb_heading-id-gsbp-82a6445"
    class="gspb_heading gspb_heading-id-gsbp-82a6445"
  >
    Exquisite design combined with functionalities
  </h2>

  <div
    id="gspb_text-id-gsbp-9f97b67"
    class="gspb_text gspb_text-id-gsbp-9f97b67"
  >
    Pellentesque ullamcorper dignissim condimentum volutpat consequat mauris
    nunc lacinia quis.
  </div>

  <div
    class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-2560b07"
    id="gspb_container-id-gsbp-2560b07"
  >
    <div
      class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-e8759fc"
      id="gspb_image-id-gsbp-e8759fc"
    >
      <img
        decoding="async"
        src="./Furniture_files/home-avatar-1.webp"
        data-src=""
        alt=""
        loading="lazy"
        width="30"
        height="48"
      />
    </div>

    <div
      class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-478ce82"
      id="gspb_image-id-gsbp-478ce82"
    >
      <img
        decoding="async"
        src="./Furniture_files/home-avatar-2.webp"
        data-src=""
        alt=""
        loading="lazy"
        width="30"
        height="48"
      />
    </div>

    <div
      class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-8b8c941"
      id="gspb_image-id-gsbp-8b8c941"
    >
      <img
        decoding="async"
        src="./Furniture_files/home-avatar-3.webp"
        data-src=""
        alt=""
        loading="lazy"
        width="30"
        height="48"
      />
    </div>

    <div
      id="gspb_text-id-gsbp-f8053d9"
      class="gspb_text gspb_text-id-gsbp-f8053d9"
    >
      Contact with our expert
    </div>
  </div>

  <div
    class="gspb_button_wrapper gspb_button-id-gsbp-06d9be3"
    id="gspb_button-id-gsbp-06d9be3"
  >
    <a
      class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
      href="https://startersites.io/blocksy/furniture/shop/"
      rel="noopener"
      ><span class="gspb-buttonbox-textwrap"
        ><span class="gspb-buttonbox-text"
          ><span class="gspb-buttonbox-title">Shop Now</span></span
        ></span
      ></a
    >
  </div>
</div>

<div
  class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-e8ab431"
  id="gspb_col-id-gsbp-e8ab431"
>
  <div
    class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-e9540ed"
    id="gspb_container-id-gsbp-e9540ed"
  >
    <div
      class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-86d2300"
      id="gspb_container-id-gsbp-86d2300"
    >
      <div
        class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-fbd916a"
        id="gspb_container-id-gsbp-fbd916a"
      >
        <h6
          id="gspb_heading-id-gsbp-cdbc7a9"
          class="gspb_heading gspb_heading-id-gsbp-cdbc7a9"
        >
          Wooden Chair
        </h6>

        <div
          id="gspb_text-id-gsbp-d18015d"
          class="gspb_text gspb_text-id-gsbp-d18015d"
        >
          $199
        </div>
      </div>

      <div
        class="gspb_button_wrapper gspb_button-id-gsbp-e7711ba"
        id="gspb_button-id-gsbp-e7711ba"
      >
        <a
          class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
          href="https://startersites.io/blocksy/furniture/shop/"
          rel="noopener"
          ><span class="gspb-buttonbox-textwrap"
            ><span class="gspb-buttonbox-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 5rem; height: 5rem; margin: 10px"
                viewBox="0 0 20 13.549"
              >
                <path
                  d="M19.755 7.402c-.015.018-.02.04-.037.057l-5.806 5.806a.965.965 0 0 1-1.369 0 .967.967 0 0 1 0-1.368l4.155-4.155H.968a.968.968 0 1 1 0-1.935h15.73l-4.155-4.155A.967.967 0 1 1 13.912.284l5.806 5.806c.02.02.028.047.046.069a.957.957 0 0 1 .162.244c.099.237.099.505 0 .743a.96.96 0 0 1-.17.256Z"
                ></path></svg></span
            ><span class="gspb-buttonbox-text"
              ><span class="gspb-buttonbox-title"></span></span></span
        ></a>
      </div>
    </div>

    <div
      class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-6e3c5c2"
      id="gspb_container-id-gsbp-6e3c5c2"
    >
      <div
        class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-fad727e"
        id="gspb_container-id-gsbp-fad727e"
      >
        <h6
          id="gspb_heading-id-gsbp-3269ffe"
          class="gspb_heading gspb_heading-id-gsbp-3269ffe"
        >
          Pretium Elite
        </h6>

        <div
          id="gspb_text-id-gsbp-d58bed7"
          class="gspb_text gspb_text-id-gsbp-d58bed7"
        >
          $130
        </div>
      </div>

      <div
        class="gspb_button_wrapper gspb_button-id-gsbp-28d61b0"
        id="gspb_button-id-gsbp-28d61b0"
      >
        <a
          class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
          href="https://startersites.io/blocksy/furniture/product/pretium-elite/"
          rel="noopener"
          ><span class="gspb-buttonbox-textwrap"
            ><span class="gspb-buttonbox-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 5rem; height: 5rem; margin: 10px"
                viewBox="0 0 20 13.549"
              >
                <path
                  d="M19.755 7.402c-.015.018-.02.04-.037.057l-5.806 5.806a.965.965 0 0 1-1.369 0 .967.967 0 0 1 0-1.368l4.155-4.155H.968a.968.968 0 1 1 0-1.935h15.73l-4.155-4.155A.967.967 0 1 1 13.912.284l5.806 5.806c.02.02.028.047.046.069a.957.957 0 0 1 .162.244c.099.237.099.505 0 .743a.96.96 0 0 1-.17.256Z"
                ></path></svg></span
            ><span class="gspb-buttonbox-text"
              ><span class="gspb-buttonbox-title"></span></span></span
        ></a>
      </div>
    </div>

    <div
      class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-5454809"
      id="gspb_container-id-gsbp-5454809"
    >
      <h5
        id="gspb_heading-id-gsbp-1220d41"
        class="gspb_heading gspb_heading-id-gsbp-1220d41"
      >
        25% OFF
      </h5>

      <div
        id="gspb_text-id-gsbp-10577e2"
        class="gspb_text gspb_text-id-gsbp-10577e2"
      >
        Donec ac odio tempor dapibus.
      </div>

      <div
        class="gspb_button_wrapper gspb_button-id-gsbp-55a1303"
        id="gspb_button-id-gsbp-55a1303"
      >
        <a
          class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
          href="https://startersites.io/blocksy/furniture/shop/"
          rel="noopener"
          ><span class="gspb-buttonbox-textwrap"
            ><span class="gspb-buttonbox-text"
              ><span class="gspb-buttonbox-title">Explore Now</span></span
            ></span
          ></a
        >
      </div>
    </div>
  </div>
</div>
