<button
  class="ct-wishlist-button-archive ct-button"
  aria-label="Add to wishlist"
  data-button-state=""
>
  <span class="ct-icon-container">
    <svg>
      <use href="/icons/icons.svg#heart-icon"></use>
    </svg>
    <svg class="ct-button-loader" width="18" height="18">
      <use href="/icons/icons.svg#loader-icon"></use>
    </svg>
  </span>
</button>
<button
  class="ct-compare-button-archive ct-button"
  aria-label="Add to compare"
  data-button-state=""
>
  <span class="ct-icon-container"
    ><svg class="ct-icon">
      <use href="/icons/icons.svg#compare-icon"></use>
    </svg>
    <svg class="ct-button-loader" width="18" height="18">
      <use href="/icons/icons.svg#loader-icon"></use>
    </svg>
  </span>
</button>
<button
  class="ct-open-quick-view ct-button"
  aria-label="Quick view toggle"
  data-button-state=""
>
  <span class="ct-icon-container"
    ><svg width="14" height="14">
      <title>Quick view icon</title>
      <use href="/icons/icons.svg#view-icon"></use>
    </svg>
    <svg class="ct-button-loader" width="18" height="18">
      <use href="/icons/icons.svg#loader-icon"></use>
    </svg>
  </span>
</button>
