<div class="ct-container-full" data-content="normal">
  <article id="post-382" class="post-382">
    <div class="entry-content is-layout-constrained">
      <div
        class="wp-block-greenshift-blocks-container alignwide gspb_container gspb_container-gsbp-bdd2e83"
        id="gspb_container-id-gsbp-bdd2e83"
      >
        <div
          class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-f090bc1"
          id="gspb_container-id-gsbp-f090bc1"
        >
          <figure
            style="width: 100%; height: 100%"
            class="ct-dynamic-media wp-elements-b66872d8f5abdba8b20a0bd36cad825c"
          >
            <img
              width="1943"
              height="525"
              src="imgs/{{ heroImg }}.webp"
              class="attachment-full size-full"
              alt=""
              style="width: 100%; height: 100%; object-fit: cover"
              decoding="async"
              fetchpriority="high"
              srcset="
                imgs/{{heroImg}}.webp          1943w,
                imgs/{{heroImg}}-800x216.webp   800w,
                imgs/{{heroImg}}-500x135.webp   500w,
                imgs/{{heroImg}}-300x81.webp    300w,
                imgs/{{heroImg}}-1024x277.webp 1024w,
                imgs/{{heroImg}}-768x208.webp   768w,
                imgs/{{heroImg}}-1536x415.webp 1536w
              "
              sizes="(max-width: 1943px) 100vw, 1943px"
            />
          </figure>
        </div>

        <div
          class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-df886bc"
          id="gspb_container-id-gsbp-df886bc"
        >
          <h2
            class="ct-dynamic-data wp-elements-6a30e09314505f2525de25003e5d142a has-text-color has-white-color has-large-font-size"
          >
            Shop
          </h2>

          <nav
            breadcrums
            [breadcrumItems]="breadcrumItems"
            class="ct-breadcrumbs"
            data-source="default"
            style="
              --theme-link-initial-color: #ffffffab;
              --theme-text-color: #ffffffab;
              --theme-link-hover-color: var(--wp--preset--color--white);
            "
            itemscope=""
            itemtype="https://schema.org/BreadcrumbList"
          ></nav>
        </div>
      </div>
    </div>
  </article>
</div>
