<header
  header
  id="header"
  class="ct-header"
  data-id="type-1"
  itemscope=""
  itemtype="https://schema.org/WPHeader"
></header>
<main id="main" class="site-main hfeed">
  <div class="ct-container-full" data-content="normal">
    <article
      main
      id="post-13"
      class="post-13 page type-page status-publish hentry"
    ></article>
  </div>
</main>
<footer
  footer
  data-wpr-lazyrender="1"
  id="footer"
  class="ct-footer"
  data-id="type-1"
  itemscope=""
  itemtype="https://schema.org/WPFooter"
></footer>
