<div class="ct-block-wrapper">
  <h3
    class="wp-block-heading widget-title"
    id="filter"
    style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
  >
    Filter by category
  </h3>

  <div class="ct-filter-widget-wrapper">
    <ul
      class="ct-filter-widget"
      data-display-type="list"
      data-filter-criteria="taxonomy:product_cat"
      style="--theme-object-fit: contain"
      data-frame="no"
    >
      @for (category of categories; track $index) {
      <li class="ct-filter-item">
        <div class="ct-filter-item-inner">
          <a
            href="shop/?filter_tax_product_cat=15"
            rel="nofollow"
            [attr.aria-label]="category | titlecase"
            data-key="product_cat"
            data-value="15"
            ><input
              type="checkbox"
              class="ct-checkbox"
              tabindex="-1"
              name="product_cat_15"
              [attr.aria-label]="category | titlecase"
            /><span class="ct-filter-label">{{ category | titlecase }}</span
            ><span class="ct-filter-count">{{
              categoryCounts[category]
            }}</span></a
          >
        </div>
      </li>
      }
    </ul>
  </div>
</div>
