<div class="ct-block-wrapper">
  <h3
    class="wp-block-heading widget-title"
    id="filter"
    style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
  >
    Filter by category
  </h3>

  <div class="ct-filter-widget-wrapper">
    <ul
      class="ct-filter-widget"
      data-display-type="list"
      data-filter-criteria="taxonomy:product_cat"
      style="--theme-object-fit: contain"
      data-frame="no"
    >
      @for (category of categories; track $index) {
      <li
        class="ct-filter-item"
        [ngClass]="{
          active: isCategorySelected(category.label.toLocaleLowerCase())
        }"
        (click)="onCategorySelect(category.label.toLocaleLowerCase())"
      >
        <div class="ct-filter-item-inner">
          <input
            [checked]="isCategorySelected(category.label.toLocaleLowerCase())"
            type="checkbox"
            class="ct-checkbox"
            tabindex="-1"
            name="product_cat_15"
            [attr.aria-label]="category.label | titlecase"
          /><span class="ct-filter-label">{{ category.label | titlecase }}</span
          ><span class="ct-filter-count">{{ category.count }}</span>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
