<div data-items="primary">
  <nav
    id="header-menu-1"
    class="header-menu-1 menu-container"
    data-id="menu"
    data-interaction="hover"
    data-menu="type-1"
    data-dropdown="type-1:simple"
    data-responsive="yes"
    itemscope=""
    itemtype="https://schema.org/SiteNavigationElement"
    aria-label="Main Menu"
  >
    <ul menu id="menu-main-menu" class="menu"></ul>
  </nav>

  <div class="ct-header-account" data-id="account" data-state="out">
    <span class="ct-label ct-hidden-sm ct-hidden-md ct-hidden-lg">Login</span>
    <svg
        (click)="toggleAccountModal()"
      class="ct-icon"
      aria-hidden="true"
      width="15"
      height="15"
      viewBox="0 0 15 15"
    >
      <use href="/icons/icons.svg#account-icon"></use>
    </svg>
  </div>
  <a
    href="https://startersites.io/blocksy/furniture/my-account/woo-wish-list/"
    class="ct-header-wishlist ct-added"
    data-label="left"
    aria-label="Wishlist"
    data-id="wish-list"
  >
    <span class="ct-label ct-hidden-sm ct-hidden-md ct-hidden-lg"
      >Wishlist</span
    >

    <span class="ct-icon-container">
      <span class="ct-dynamic-count-wishlist" data-count="2" aria-hidden="true"
        >2</span
      >
      <svg
        class="ct-icon"
        aria-hidden="true"
        width="15"
        height="15"
        viewBox="0 0 15 15"
      >
        <use href="/icons/icons.svg#wishlist-icon"></use>
      </svg>
    </span>
  </a>
  <a
    href="https://startersites.io/blocksy/furniture/#ct-compare-modal"
    class="ct-header-compare ct-added"
    data-label="left"
    aria-label="Compare"
    data-behaviour="modal"
    data-id="compare"
    data-button-state=""
  >
    <span class="ct-label ct-hidden-sm ct-hidden-md ct-hidden-lg">Compare</span>
    <span class="ct-icon-container">
      <span class="ct-dynamic-count-compare" data-count="0" aria-hidden="true"
        >0</span
      >
      <svg class="ct-icon" aria-hidden="true" width="15" height="15">
        <use href="/icons/icons.svg#compare-icon"></use>
      </svg>
    </span>
  </a>
  <div class="ct-header-cart" data-id="cart">
    <a
      class="ct-cart-item ct-offcanvas-trigger"
      [class.ct-added]="bounce"
      data-label="left"
      (click)="toggleCart($event)"
    >
      <span class="screen-reader-text">Shopping cart</span>
      <span
        class="ct-label ct-hidden-sm ct-hidden-md ct-hidden-lg"
        data-price="yes"
      >
        <span class="ct-amount">
          <span class="woocommerce-Price-amount amount">
            <bdi>
              <span class="woocommerce-Price-currencySymbol">$</span>125.00</bdi
            >
          </span>
        </span>
      </span>
      <span class="ct-icon-container">
        @if(cartItemCount > 0){
        <span class="ct-dynamic-count-cart" data-count="2" aria-hidden="true">{{
          cartItemCount
        }}</span>
        }
        <svg width="15" height="15">
          <use href="/icons/icons.svg#cart-icon"></use>
        </svg>
      </span>
    </a>
  </div>
</div>
