@if(materials.length > 0){
<div class="ct-block-wrapper">
  <h3
    class="wp-block-heading widget-title"
    id="filter"
    style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
  >
    Filter by material
  </h3>

  <div class="ct-filter-widget-wrapper">
    <ul
      class="ct-filter-widget"
      data-display-type="list"
      data-swatches-type="button"
      data-swatches-shape="round"
    >
      @for (material of materials; track $index) {
      <li
        class="ct-filter-item"
        [ngClass]="{
          active: isMaterialSelected(material.label.toLocaleLowerCase())
        }"
        (click)="onMaterialSelect(material.label.toLocaleLowerCase())"
      >
        <div class="ct-filter-item-inner">
          <input
            type="checkbox"
            class="ct-checkbox"
            tabindex="-1"
            name="product_attribute_33"
            [attr.aria-label]="material.label"
            [checked]="isMaterialSelected(material.label.toLocaleLowerCase())"
          /><span class="ct-filter-label">{{ material.label }}</span
          ><span class="ct-filter-count">{{ material.count }}</span>
        </div>
      </li>
      }
    </ul>
  </div>
</div>

}
