h4 {
    --theme-font-weight: 700;
    --theme-font-size: 25px;
    --theme-line-height: 1.5;
}

h4 {
    color: var(--theme-heading-color, var(--theme-heading-4-color, var(--theme-headings-color)))
}

#gspb_image-id-gsbp-df41d3d img {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: custom;
}

#gspb_image-id-gsbp-df41d3d,
#gspb_image-id-gsbp-df41d3d img {
    height: auto;
}

#gspb_heading-id-gsbp-fac68e2 {
    font-size: 20px;
}

#gspb_heading-id-gsbp-fac68e2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

#gspb_heading-id-gsbp-85d1b86 {
    font-size: 17px;
}

#gspb_heading-id-gsbp-85d1b86 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.gspb_text-id-gsbp-645c685 {
    color: #fff;
    margin-bottom: 20px !important;
}

#gspb_button-id-gsbp-f8dc712 {
    display: flex;
    justify-content: flex-start;
}

#gspb_button-id-gsbp-f8dc712 .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-f8dc712>.gspb-buttonbox {
    box-sizing: border-box;
    background-color: #fff;
    color: var(--wp--preset--color--palette-color-3,
            var(--theme-palette-color-3, #42504b));
}

#gspb_row-id-gsbp-24a181b {
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#gspb_row-id-gsbp-24a181b>.gspb_row__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

#gspb_row-id-gsbp-24a181b>.gspb_row__content {
    align-items: center;
}

#gspb_image-id-gsbp-d0edb41 img {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: custom;
}

#gspb_image-id-gsbp-d0edb41,
#gspb_image-id-gsbp-d0edb41 img {
    height: auto;
}

#gspb_heading-id-gsbp-fe464c6 {
    font-size: 20px;
}

#gspb_heading-id-gsbp-fe464c6 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

#gspb_heading-id-gsbp-f96ce2b {
    font-size: 17px;
}

#gspb_heading-id-gsbp-f96ce2b {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.gspb_text-id-gsbp-4a520d1 {
    color: #fff;
    margin-bottom: 20px !important;
}

#gspb_button-id-gsbp-9946b60 {
    display: flex;
    justify-content: flex-start;
}

#gspb_button-id-gsbp-9946b60 .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-9946b60>.gspb-buttonbox {
    box-sizing: border-box;
    background-color: #fff;
    color: var(--wp--preset--color--palette-color-3,
            var(--theme-palette-color-3, #42504b));
}

#gspb_row-id-gsbp-4ab5687 {
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#gspb_row-id-gsbp-4ab5687>.gspb_row__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

#gspb_row-id-gsbp-4ab5687>.gspb_row__content {
    align-items: center;
}

#gspb_image-id-gsbp-3cce510 img {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: custom;
}

#gspb_image-id-gsbp-3cce510,
#gspb_image-id-gsbp-3cce510 img {
    height: auto;
}

#gspb_heading-id-gsbp-415da51 {
    font-size: 20px;
}

#gspb_heading-id-gsbp-415da51 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

#gspb_heading-id-gsbp-078219c {
    font-size: 17px;
}

#gspb_heading-id-gsbp-078219c {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.gspb_text-id-gsbp-802e897 {
    color: #fff;
    margin-bottom: 20px !important;
}

#gspb_button-id-gsbp-b049a4c {
    display: flex;
    justify-content: flex-start;
}

#gspb_button-id-gsbp-b049a4c .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-b049a4c>.gspb-buttonbox {
    box-sizing: border-box;
    background-color: #fff;
    color: var(--wp--preset--color--palette-color-3,
            var(--theme-palette-color-3, #42504b));
}

#gspb_row-id-gsbp-433c34a,
#gspb_row-id-gsbp-78f4871 {
    justify-content: space-between;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

#gspb_row-id-gsbp-433c34a {
    margin-bottom: 0;
    align-content: center;
}

#gspb_row-id-gsbp-433c34a>.gspb_row__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

#gspb_row-id-gsbp-433c34a>.gspb_row__content {
    align-items: center;
}

body.gspb-bodyfront #gspb_row-id-gsbp-433c34a>.gspb_row__content,
body.gspb-bodyfront #gspb_row-id-gsbp-4ab5687>.gspb_row__content,
body.gspb-bodyfront #gspb_row-id-gsbp-78f4871>.gspb_row__content {
    width: var(--theme-container-width, 1200px);
    max-width: var(--theme-normal-container-max-width, 1200px);
}

#gspb_row-id-gsbp-78f4871 {
    margin-bottom: 100px;
}

#gspb_row-id-gsbp-78f4871>.gspb_row__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

#gspb_col-id-gsbp-cb8474c.gspb_row__col--4 {
    width: calc(33.333333333333336% - 20px);
}

#gspb_col-id-gsbp-cb8474c.gspb_row__col--4 {
    background-color: #9ba89e;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
}

.gspb_row #gspb_col-id-gsbp-cb8474c.gspb_row__col--4 {
    padding: 20px;
}

#gspb_col-id-gsbp-ffac2fb.gspb_row__col--6 {
    width: calc(50% - 10px);
}

.gspb_row #gspb_col-id-gsbp-962945f.gspb_row__col--6,
.gspb_row #gspb_col-id-gsbp-ffac2fb.gspb_row__col--6 {
    padding: 0;
}

#gspb_col-id-gsbp-962945f.gspb_row__col--6 {
    width: calc(50% - 10px);
}

#gspb_col-id-gsbp-6d6669a.gspb_row__col--4 {
    width: calc(33.333333333333336% - 20px);
}

#gspb_col-id-gsbp-6d6669a.gspb_row__col--4 {
    background-color: #d39e76;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
}

.gspb_row #gspb_col-id-gsbp-6d6669a.gspb_row__col--4 {
    padding: 20px;
}

#gspb_col-id-gsbp-e1da7e3.gspb_row__col--6 {
    width: calc(50% - 10px);
}

.gspb_row #gspb_col-id-gsbp-569dfdf.gspb_row__col--6,
.gspb_row #gspb_col-id-gsbp-e1da7e3.gspb_row__col--6 {
    padding: 0;
}

#gspb_col-id-gsbp-569dfdf.gspb_row__col--6 {
    width: calc(50% - 10px);
}

#gspb_col-id-gsbp-7360ed5.gspb_row__col--4 {
    width: calc(33.333333333333336% - 20px);
}

#gspb_col-id-gsbp-7360ed5.gspb_row__col--4 {
    background-color: #a7a29c;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
}

.gspb_row #gspb_col-id-gsbp-7360ed5.gspb_row__col--4 {
    padding: 20px;
}

#gspb_col-id-gsbp-1ed58f1.gspb_row__col--6 {
    width: calc(50% - 10px);
}

#gspb_col-id-gsbp-0ba62b9.gspb_row__col--6 {
    width: calc(50% - 10px);
}