<div class="gspb_row__content">
  <div
    class="wp-block-greenshift-blocks-row-column gspb_row__col--4 gspb_col-id-gsbp-cb8474c"
    id="gspb_col-id-gsbp-cb8474c"
  >
    <div
      class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-24a181b gspb_row--gutter-custom-0"
      id="gspb_row-id-gsbp-24a181b"
    >
      <div class="gspb_row__content">
        <div
          class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-ffac2fb"
          id="gspb_col-id-gsbp-ffac2fb"
        >
          <div
            class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-df41d3d"
            id="gspb_image-id-gsbp-df41d3d"
          >
            <img
              decoding="async"
              src="/imgs/offers-image-1.webp"
              data-src=""
              alt=""
              loading="lazy"
              width="null%"
              height="600"
            />
          </div>
        </div>

        <div
          class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-962945f"
          id="gspb_col-id-gsbp-962945f"
        >
          <h4
            id="gspb_heading-id-gsbp-fac68e2"
            class="gspb_heading gspb_heading-id-gsbp-fac68e2"
          >
            Special Discount
          </h4>

          <h5
            id="gspb_heading-id-gsbp-85d1b86"
            class="gspb_heading gspb_heading-id-gsbp-85d1b86"
          >
            30% OFF
          </h5>

          <div
            id="gspb_text-id-gsbp-645c685"
            class="gspb_text gspb_text-id-gsbp-645c685"
          >
            Aliquet sagittis purus faucibus egestas.
          </div>

          <div
            class="gspb_button_wrapper gspb_button-id-gsbp-f8dc712"
            id="gspb_button-id-gsbp-f8dc712"
          >
            <a
              class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
              rel="noopener"
              ><span class="gspb-buttonbox-textwrap"
                ><span class="gspb-buttonbox-text"
                  ><span class="gspb-buttonbox-title">Browse Now</span></span
                ></span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="wp-block-greenshift-blocks-row-column gspb_row__col--4 gspb_col-id-gsbp-6d6669a"
    id="gspb_col-id-gsbp-6d6669a"
  >
    <div
      class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-4ab5687 gspb_row--gutter-custom-0"
      id="gspb_row-id-gsbp-4ab5687"
    >
      <div class="gspb_row__content">
        <div
          class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-e1da7e3"
          id="gspb_col-id-gsbp-e1da7e3"
        >
          <div
            class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-d0edb41"
            id="gspb_image-id-gsbp-d0edb41"
          >
            <img
              decoding="async"
              src="/imgs/offers-image-3.webp"
              data-src=""
              alt=""
              loading="lazy"
              width="null%"
              height="600"
            />
          </div>
        </div>

        <div
          class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-569dfdf"
          id="gspb_col-id-gsbp-569dfdf"
        >
          <h4
            id="gspb_heading-id-gsbp-fe464c6"
            class="gspb_heading gspb_heading-id-gsbp-fe464c6"
          >
            Weekly Discount
          </h4>

          <h5
            id="gspb_heading-id-gsbp-f96ce2b"
            class="gspb_heading gspb_heading-id-gsbp-f96ce2b"
          >
            25% OFF
          </h5>

          <div
            id="gspb_text-id-gsbp-4a520d1"
            class="gspb_text gspb_text-id-gsbp-4a520d1"
          >
            Nulla facilisi cras fermentum odio feugiat.
          </div>

          <div
            class="gspb_button_wrapper gspb_button-id-gsbp-9946b60"
            id="gspb_button-id-gsbp-9946b60"
          >
            <a
              class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
              rel="noopener"
              ><span class="gspb-buttonbox-textwrap"
                ><span class="gspb-buttonbox-text"
                  ><span class="gspb-buttonbox-title">Browse Now</span></span
                ></span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="wp-block-greenshift-blocks-row-column gspb_row__col--4 gspb_col-id-gsbp-7360ed5"
    id="gspb_col-id-gsbp-7360ed5"
  >
    <div
      class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-433c34a gspb_row--gutter-custom-0"
      id="gspb_row-id-gsbp-433c34a"
    >
      <div class="gspb_row__content">
        <div
          class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-1ed58f1"
          id="gspb_col-id-gsbp-1ed58f1"
        >
          <div
            class="wp-block-greenshift-blocks-image gspb_image gspb_image-id-gsbp-3cce510"
            id="gspb_image-id-gsbp-3cce510"
          >
            <img
              decoding="async"
              src="/imgs/offers-image-2.webp"
              data-src=""
              alt=""
              loading="lazy"
              width="null%"
              height="600"
            />
          </div>
        </div>

        <div
          class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_row__col--md-12 gspb_col-id-gsbp-0ba62b9"
          id="gspb_col-id-gsbp-0ba62b9"
        >
          <h4
            id="gspb_heading-id-gsbp-415da51"
            class="gspb_heading gspb_heading-id-gsbp-415da51"
          >
            Birthday Discount
          </h4>

          <h5
            id="gspb_heading-id-gsbp-078219c"
            class="gspb_heading gspb_heading-id-gsbp-078219c"
          >
            40% OFF
          </h5>

          <div
            id="gspb_text-id-gsbp-802e897"
            class="gspb_text gspb_text-id-gsbp-802e897"
          >
            Porta non pulvinar neque laoreet suspendisse.
          </div>

          <div
            class="gspb_button_wrapper gspb_button-id-gsbp-b049a4c"
            id="gspb_button-id-gsbp-b049a4c"
          >
            <a
              class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
              rel="noopener"
              ><span class="gspb-buttonbox-textwrap"
                ><span class="gspb-buttonbox-text"
                  ><span class="gspb-buttonbox-title">Browse Now</span></span
                ></span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
