<div class="custom-elevation">
  <div class="custom-toolbar">
    <span>Products</span>
  </div>

  <!-- Form for creating or editing a product -->
  <form class="product-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="image">Image:</label>
      <div>
        <img
          src="{{ selectedProduct.image || 'https://placehold.co/100x100' }}"
          alt="Product Image"
          class="product-image"
          (click)="triggerFileInput()"
          title="Click to update image"
        />
      </div>
      <input
        id="image"
        type="file"
        (change)="onImageChange($event)"
        #fileInput
        style="display: none"
      />
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        [(ngModel)]="selectedProduct.name"
        name="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input
        id="brand"
        type="text"
        [(ngModel)]="selectedProduct.brand"
        name="brand"
        required
      />
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input
        id="price"
        type="number"
        [(ngModel)]="selectedProduct.price"
        name="price"
        required
      />
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <input
        id="category"
        type="text"
        [(ngModel)]="categoryString"
        name="category"
        required
      />
    </div>
    <div class="form-group">
      <label for="color">Color:</label>
      <input
        id="color"
        type="text"
        [(ngModel)]="colorString"
        name="color"
        required
      />
    </div>
    <div class="form-group">
      <label for="material">Material:</label>
      <input
        id="material"
        type="text"
        [(ngModel)]="materialString"
        name="material"
        required
      />
    </div>
    <div class="form-group">
      <label for="dimensions">Dimensions:</label>
      <input
        id="dimensions"
        type="text"
        [(ngModel)]="selectedProduct.dimensions"
        name="dimensions"
        required
      />
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input
        id="quantity"
        type="number"
        [(ngModel)]="selectedProduct.quantity"
        name="quantity"
        required
      />
    </div>
    <div class="form-group">
      <label for="discount">Discount:</label>
      <input
        id="discount"
        type="number"
        [(ngModel)]="selectedProduct.discount_percentage"
        name="discount"
        required
      />
    </div>
    <div class="form-group">
      <label for="features">Features:</label>
      <input
        id="features"
        type="text"
        [(ngModel)]="featuresString"
        name="features"
        required
      />
    </div>
    <div class="form-group">
      <label for="care_instructions">Care Instructions:</label>
      <input
        id="care_instructions"
        type="text"
        [(ngModel)]="selectedProduct.care_instructions"
        name="care_instructions"
        required
      />
    </div>
    <div class="form-group">
      <label for="short_description">Short Description:</label>
      <textarea
        id="short_description"
        [(ngModel)]="selectedProduct.short_description"
        name="short_description"
        rows="1"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="long_description">Long Description:</label>
      <textarea
        id="long_description"
        [(ngModel)]="selectedProduct.long_description"
        name="long_description"
        rows="1"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
      {{ selectedProduct.id ? "Update" : "Create" }}
    </button>
  </form>

  <table class="custom-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Image</th>
        <th>Price</th>
        <th>Category</th>
        <th>Color</th>
        <th>Material</th>
        <th>Dimensions</th>
        <th>Quantity</th>
        <th>Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of products"
        (click)="loadProductDetails(product)"
      >
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>
          <img
            src="{{ product.image }}"
            alt="Product Image"
            class="product-image"
          />
        </td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.color.join(", ") }}</td>
        <td>{{ product.material.join(", ") }}</td>
        <td>{{ product.dimensions }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.discount_percentage }}%</td>
        <td>
          <svg
            class="icon"
            width="20"
            height="20"
            (click)="deleteProduct(product.id)"
          >
            <use href="icons/icons.svg#trash-icon"></use>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
