<div class="mat-elevation-z8">
  <mat-toolbar color="primary">
    <span>Products</span>
  </mat-toolbar>

  <table mat-table [dataSource]="products" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let product"> {{ product.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let product">
        <ng-container *ngIf="editingProductId === product.id; else viewName">
          <mat-form-field>
            <input matInput [(ngModel)]="product.name" />
          </mat-form-field>
        </ng-container>
        <ng-template #viewName>
          {{ product.name }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Brand </th>
      <td mat-cell *matCellDef="let product">
        <ng-container *ngIf="editingProductId === product.id; else viewBrand">
          <mat-form-field>
            <input matInput [(ngModel)]="product.brand" />
          </mat-form-field>
        </ng-container>
        <ng-template #viewBrand>
          {{ product.brand }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let product">
        <ng-container *ngIf="editingProductId === product.id; else viewImg">
          <mat-form-field>
            <input matInput [(ngModel)]="product.img" placeholder="Image URL" />
          </mat-form-field>
        </ng-container>
        <ng-template #viewImg>
          <img src="imgs/product-{{ product.id }}.webp" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
        </ng-template>
      </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product">
        <ng-container *ngIf="editingProductId === product.id; else viewPrice">
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="product.price" />
          </mat-form-field>
        </ng-container>
        <ng-template #viewPrice>
          {{ product.price | currency }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let product">
        <ng-container *ngIf="editingProductId === product.id; else editButton">
          <button mat-button color="primary" (click)="saveProduct(product)">Save</button>
          <button mat-button color="warn" (click)="cancelEditing()">Cancel</button>
        </ng-container>
        <ng-template #editButton>
          <button mat-button color="accent" (click)="startEditing(product.id)">Edit</button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
