<div
  banner
  heroImg="shop-hero-image"
  data-block="hook:382"
  data-block-structure="custom"
></div>
<div
  category
  data-block="hook:702"
  class="ct-hidden-sm"
  data-block-structure="custom"
></div>
<main
  id="main"
  class="site-main hfeed"
  itemscope="itemscope"
  itemtype="https://schema.org/CreativeWork"
>
  <div
    class="ct-container"
    data-sidebar="left"
    data-vertical-spacing="top:bottom"
  >
    <section products-page></section>
    <aside
      filter
      class="ct-hidden-sm ct-hidden-md"
      data-type="type-1"
      id="sidebar"
      itemtype="https://schema.org/WPSideBar"
      itemscope="itemscope"
    ></aside>
  </div>
</main>
