<div
  banner
  heroImg="shop-hero-image"
  data-block="hook:382"
  data-block-structure="custom"
></div>
<div
  category
  data-block="hook:702"
  class="ct-hidden-sm"
  data-block-structure="custom"
></div>
<main
  id="main"
  class="site-main hfeed"
  itemscope="itemscope"
  itemtype="https://schema.org/CreativeWork"
>
  <div
    class="ct-container"
    data-sidebar="left"
    data-vertical-spacing="top:bottom"
  >
    <section products-page [allProducts]="filteredProducts"></section>
    <aside
      filter
      [filterProduct]="filteredProducts"
      class="ct-hidden-sm ct-hidden-md"
      data-type="type-1"
      id="sidebar"
      itemtype="https://schema.org/WPSideBar"
      itemscope="itemscope"
    ></aside>
  </div>
</main>
<div data-wpr-lazyrender="1" data-block="hook:424">
  <article id="post-424" class="post-424">
    <div class="entry-content is-layout-constrained">
      <div
        welfare
        class="wp-block-greenshift-blocks-row alignfull gspb_row gspb_row-id-gsbp-ea306c0 gspb_row--gutter-custom-0"
        id="gspb_row-id-gsbp-ea306c0"
      ></div>
      <div
        subscribe
        class="wp-block-greenshift-blocks-row alignfull gspb_row gspb_row-id-gsbp-3f48ec3 gspb_row--gutter-custom-0"
        id="gspb_row-id-gsbp-3f48ec3"
      ></div>
    </div>
  </article>
</div>
