<div class="ct-sidebar" data-sticky="sidebar">
  <div filter-by-price class="ct-widget widget_block" id="block-15"></div>
  <div filter-by-category class="ct-widget widget_block" id="block-7"></div>
  <div filter-by-color class="ct-widget widget_block" id="block-13"></div>
  <div class="ct-widget widget_block" id="block-14">
    <div class="ct-block-wrapper">
      <h3
        class="wp-block-heading widget-title"
        id="filter"
        style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
      >
        Filter by material
      </h3>

      <div class="ct-filter-widget-wrapper">
        <ul
          class="ct-filter-widget"
          data-display-type="list"
          data-swatches-type="button"
          data-swatches-shape="round"
        >
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=aluminium&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Aluminium"
                data-key="material"
                data-value="33"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_33"
                  aria-label="Aluminium"
                /><span class="ct-filter-label">Aluminium</span
                ><span class="ct-filter-count">2</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=fabric&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Fabric"
                data-key="material"
                data-value="32"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_32"
                  aria-label="Fabric"
                /><span class="ct-filter-label">Fabric</span
                ><span class="ct-filter-count">18</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=glass&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Glass"
                data-key="material"
                data-value="41"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_41"
                  aria-label="Glass"
                /><span class="ct-filter-label">Glass</span
                ><span class="ct-filter-count">3</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=leather&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Leather"
                data-key="material"
                data-value="29"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_29"
                  aria-label="Leather"
                /><span class="ct-filter-label">Leather</span
                ><span class="ct-filter-count">7</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=marble&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Marble"
                data-key="material"
                data-value="35"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_35"
                  aria-label="Marble"
                /><span class="ct-filter-label">Marble</span
                ><span class="ct-filter-count">5</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=metal&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Metal"
                data-key="material"
                data-value="31"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_31"
                  aria-label="Metal"
                /><span class="ct-filter-label">Metal</span
                ><span class="ct-filter-count">2</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=plastic&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Plastic"
                data-key="material"
                data-value="34"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_34"
                  aria-label="Plastic"
                /><span class="ct-filter-label">Plastic</span
                ><span class="ct-filter-count">3</span></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_material=wood&amp;query_type_material=or"
                rel="nofollow"
                aria-label="Wood"
                data-key="material"
                data-value="30"
                ><input
                  type="checkbox"
                  class="ct-checkbox"
                  tabindex="-1"
                  name="product_attribute_30"
                  aria-label="Wood"
                /><span class="ct-filter-label">Wood</span
                ><span class="ct-filter-count">25</span></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ct-widget widget_block" id="block-21">
    <div class="ct-block-wrapper">
      <h3
        class="wp-block-heading widget-title"
        id="filter"
        style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
      >
        Filter by brand
      </h3>

      <div class="ct-filter-widget-wrapper">
        <ul
          class="ct-filter-widget"
          data-display-type="inline"
          data-filter-criteria="taxonomy:product_brand"
          style="
            --product-taxonomy-logo-size: 55px;
            --theme-object-fit: contain;
          "
          data-frame="yes"
        >
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_tax_product_brand=51"
                rel="nofollow"
                aria-label="Asgardia"
                data-key="product_brand"
                data-value="51"
                ><div class="ct-media-container">
                  <img
                    decoding="async"
                    width="223"
                    height="50"
                    src="./Shop – Furniture_files/brand-asgardia.svg"
                    loading="lazy"
                    itemprop="image"
                    class="wp-post-image"
                    style="aspect-ratio: 16/9"
                    title="brand-asgardia"
                    alt="Elito Viverra"
                  /><span class="ct-tooltip">Asgardia</span>
                </div></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_tax_product_brand=49"
                rel="nofollow"
                aria-label="Boltshift"
                data-key="product_brand"
                data-value="49"
                ><div class="ct-media-container">
                  <img
                    decoding="async"
                    width="194"
                    height="50"
                    src="./Shop – Furniture_files/brand-boltshift.svg"
                    loading="lazy"
                    itemprop="image"
                    class="wp-post-image"
                    style="aspect-ratio: 16/9"
                    title="brand-boltshift"
                    alt="Elito Viverra"
                  /><span class="ct-tooltip">Boltshift</span>
                </div></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_tax_product_brand=50"
                rel="nofollow"
                aria-label="Contrast"
                data-key="product_brand"
                data-value="50"
                ><div class="ct-media-container">
                  <img
                    decoding="async"
                    width="196"
                    height="50"
                    src="./Shop – Furniture_files/brand-contrast.svg"
                    loading="lazy"
                    itemprop="image"
                    class="wp-post-image"
                    style="aspect-ratio: 16/9"
                    title="brand-contrast"
                    alt="Elito Viverra"
                  /><span class="ct-tooltip">Contrast</span>
                </div></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_tax_product_brand=47"
                rel="nofollow"
                aria-label="Goldline"
                data-key="product_brand"
                data-value="47"
                ><div class="ct-media-container">
                  <img
                    decoding="async"
                    width="212"
                    height="50"
                    src="./Shop – Furniture_files/brand-goldline.svg"
                    loading="lazy"
                    itemprop="image"
                    class="wp-post-image"
                    style="aspect-ratio: 16/9"
                    title="brand-goldline"
                    alt="Elito Viverra"
                  /><span class="ct-tooltip">Goldline</span>
                </div></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_tax_product_brand=52"
                rel="nofollow"
                aria-label="Komplex"
                data-key="product_brand"
                data-value="52"
                ><div class="ct-media-container">
                  <img
                    decoding="async"
                    width="215"
                    height="50"
                    src="./Shop – Furniture_files/brand-komplex.svg"
                    loading="lazy"
                    itemprop="image"
                    class="wp-post-image"
                    style="aspect-ratio: 16/9"
                    title="brand-komplex"
                    alt="Elito Viverra"
                  /><span class="ct-tooltip">Komplex</span>
                </div></a
              >
            </div>
          </li>
          <li class="ct-filter-item">
            <div class="ct-filter-item-inner">
              <a
                href="https://startersites.io/blocksy/furniture/shop/?filter_tax_product_brand=48"
                rel="nofollow"
                aria-label="Magnolia"
                data-key="product_brand"
                data-value="48"
                ><div class="ct-media-container">
                  <img
                    decoding="async"
                    width="300"
                    height="49"
                    src="./Shop – Furniture_files/brand-magnolia.svg"
                    loading="lazy"
                    itemprop="image"
                    class="wp-post-image"
                    style="aspect-ratio: 16/9"
                    title="brand-magnolia"
                    alt="Elito Viverra"
                  /><span class="ct-tooltip">Magnolia</span>
                </div></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ct-widget widget_block" id="block-19">
    <div
      class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"
    >
      <h3
        class="wp-block-heading widget-title"
        id="best-selling-products"
        style="font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px)"
      >
        Best selling products
      </h3>

      <div
        data-wp-context='{"notices":[]}'
        data-wp-init="callbacks.onRender"
        data-wp-interactive="woocommerce/product-collection"
        data-wp-router-region="wc-product-collection-1"
        data-block-name="woocommerce/product-collection"
        data-display-layout='{"type":"list","columns":3}'
        data-query-context-includes='["collection"]'
        data-query-id="1"
        data-query='{"perPage":5,"pages":0,"offset":0,"postType":"product","order":"desc","orderBy":"popularity","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":[],"parents":[],"isProductCollectionBlock":true,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[]}'
        data-tag-name="div"
        class="wp-block-woocommerce-product-collection is-layout-flow wp-block-product-collection-is-layout-flow"
      >
        <div
          data-wp-interactive="woocommerce/store-notices"
          class="wc-block-components-notices alignwide"
        ></div>
        <ul
          class="is-product-collection-layout-list wc-block-product-template wp-block-woocommerce-product-template"
        >
          <li
            class="wc-block-product post-378 product type-product status-publish has-post-thumbnail product_brand-boltshift product_cat-beds first instock sale shipping-taxable purchasable product-type-simple"
            data-wp-interactive="woocommerce/product-collection"
            data-wp-context='{"productId":378}'
            data-wp-key="product-item-378"
          >
            <div
              class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-core-columns-is-layout-c6809a2b wp-block-columns-is-layout-flex"
            >
              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 25%"
              >
                <a
                  class="ct-dynamic-media wp-elements-220cfe945adb386e632ed08ed189d5c6"
                  href="https://startersites.io/blocksy/furniture/product/tellus-convallis/"
                  ><span
                    data-hover="zoom-in"
                    class="ct-dynamic-media-inner"
                    style="border-radius: 3px"
                    ><img
                      loading="lazy"
                      decoding="async"
                      width="1240"
                      height="1240"
                      src="./Shop – Furniture_files/product-45.webp"
                      class="attachment-full size-full wp-post-image"
                      alt=""
                      style="width: 100%; height: 100%; object-fit: cover"
                      srcset="
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45.webp           1240w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45-300x300.webp    300w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45-800x800.webp    800w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45-500x500.webp    500w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45-1024x1024.webp 1024w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45-150x150.webp    150w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-45-768x768.webp    768w
                      "
                      sizes="auto, (max-width: 1240px) 100vw, 1240px" /></span
                ></a>
              </div>

              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 75%"
              >
                <h4
                  style="
                    font-size: clamp(
                      14px,
                      0.875rem + ((1vw - 3.2px) * 0.078),
                      15px
                    );
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: var(--wp--preset--spacing--20);
                    margin-top: 0;
                  "
                  class="ct-dynamic-data wp-elements-472d5a6e19517021339e5b2771dd95e8"
                >
                  <a
                    href="https://startersites.io/blocksy/furniture/product/tellus-convallis/"
                    >Tellus Convallis</a
                  >
                </h4>

                <div
                  style="font-size: 13px; margin-top: 0; margin-bottom: 0"
                  class="ct-dynamic-data wp-elements-10c94fd6821183356b19b0f85f2ab29a"
                >
                  <span class="sale-price"
                    ><del aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >1,350.00</bdi
                        ></span
                      ></del
                    >
                    <span class="screen-reader-text"
                      >Original price was: $1,350.00.</span
                    ><ins aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >1,200.00</bdi
                        ></span
                      ></ins
                    ><span class="screen-reader-text"
                      >Current price is: $1,200.00.</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </li>
          <li
            class="wc-block-product post-376 product type-product status-publish has-post-thumbnail product_brand-boltshift product_cat-beds instock sale shipping-taxable purchasable product-type-simple"
            data-wp-interactive="woocommerce/product-collection"
            data-wp-context='{"productId":376}'
            data-wp-key="product-item-376"
          >
            <div
              class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-core-columns-is-layout-c6809a2b wp-block-columns-is-layout-flex"
            >
              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 25%"
              >
                <a
                  class="ct-dynamic-media wp-elements-220cfe945adb386e632ed08ed189d5c6"
                  href="https://startersites.io/blocksy/furniture/product/hendre-quisque/"
                  ><span
                    data-hover="zoom-in"
                    class="ct-dynamic-media-inner"
                    style="border-radius: 3px"
                    ><img
                      loading="lazy"
                      decoding="async"
                      width="1240"
                      height="1240"
                      src="./Shop – Furniture_files/product-44.webp"
                      class="attachment-full size-full wp-post-image"
                      alt=""
                      style="width: 100%; height: 100%; object-fit: cover"
                      srcset="
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44.webp           1240w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44-300x300.webp    300w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44-800x800.webp    800w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44-500x500.webp    500w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44-1024x1024.webp 1024w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44-150x150.webp    150w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-44-768x768.webp    768w
                      "
                      sizes="auto, (max-width: 1240px) 100vw, 1240px" /></span
                ></a>
              </div>

              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 75%"
              >
                <h4
                  style="
                    font-size: clamp(
                      14px,
                      0.875rem + ((1vw - 3.2px) * 0.078),
                      15px
                    );
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: var(--wp--preset--spacing--20);
                    margin-top: 0;
                  "
                  class="ct-dynamic-data wp-elements-472d5a6e19517021339e5b2771dd95e8"
                >
                  <a
                    href="https://startersites.io/blocksy/furniture/product/hendre-quisque/"
                    >Hendre Quisque</a
                  >
                </h4>

                <div
                  style="font-size: 13px; margin-top: 0; margin-bottom: 0"
                  class="ct-dynamic-data wp-elements-10c94fd6821183356b19b0f85f2ab29a"
                >
                  <span class="sale-price"
                    ><del aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >850.00</bdi
                        ></span
                      ></del
                    >
                    <span class="screen-reader-text"
                      >Original price was: $850.00.</span
                    ><ins aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >800.00</bdi
                        ></span
                      ></ins
                    ><span class="screen-reader-text"
                      >Current price is: $800.00.</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </li>
          <li
            class="wc-block-product post-374 product type-product status-publish has-post-thumbnail product_brand-asgardia product_cat-beds last instock shipping-taxable purchasable product-type-simple"
            data-wp-interactive="woocommerce/product-collection"
            data-wp-context='{"productId":374}'
            data-wp-key="product-item-374"
          >
            <div
              class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-core-columns-is-layout-c6809a2b wp-block-columns-is-layout-flex"
            >
              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 25%"
              >
                <a
                  class="ct-dynamic-media wp-elements-220cfe945adb386e632ed08ed189d5c6"
                  href="https://startersites.io/blocksy/furniture/product/dolore-magna/"
                  ><span
                    data-hover="zoom-in"
                    class="ct-dynamic-media-inner"
                    style="border-radius: 3px"
                    ><img
                      loading="lazy"
                      decoding="async"
                      width="1240"
                      height="1240"
                      src="./Shop – Furniture_files/product-43.webp"
                      class="attachment-full size-full wp-post-image"
                      alt=""
                      style="width: 100%; height: 100%; object-fit: cover"
                      srcset="
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43.webp           1240w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43-300x300.webp    300w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43-800x800.webp    800w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43-500x500.webp    500w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43-1024x1024.webp 1024w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43-150x150.webp    150w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-43-768x768.webp    768w
                      "
                      sizes="auto, (max-width: 1240px) 100vw, 1240px" /></span
                ></a>
              </div>

              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 75%"
              >
                <h4
                  style="
                    font-size: clamp(
                      14px,
                      0.875rem + ((1vw - 3.2px) * 0.078),
                      15px
                    );
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: var(--wp--preset--spacing--20);
                    margin-top: 0;
                  "
                  class="ct-dynamic-data wp-elements-472d5a6e19517021339e5b2771dd95e8"
                >
                  <a
                    href="https://startersites.io/blocksy/furniture/product/dolore-magna/"
                    >Dolore Magna</a
                  >
                </h4>

                <div
                  style="font-size: 13px; margin-top: 0; margin-bottom: 0"
                  class="ct-dynamic-data wp-elements-10c94fd6821183356b19b0f85f2ab29a"
                >
                  <span class="woocommerce-Price-amount amount"
                    ><bdi
                      ><span class="woocommerce-Price-currencySymbol">$</span
                      >1,000.00</bdi
                    ></span
                  >
                </div>
              </div>
            </div>
          </li>
          <li
            class="wc-block-product post-372 product type-product status-publish has-post-thumbnail product_brand-komplex product_cat-beds first instock shipping-taxable purchasable product-type-simple"
            data-wp-interactive="woocommerce/product-collection"
            data-wp-context='{"productId":372}'
            data-wp-key="product-item-372"
          >
            <div
              class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-core-columns-is-layout-c6809a2b wp-block-columns-is-layout-flex"
            >
              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 25%"
              >
                <a
                  class="ct-dynamic-media wp-elements-220cfe945adb386e632ed08ed189d5c6"
                  href="https://startersites.io/blocksy/furniture/product/felis-vehicula/"
                  ><span
                    data-hover="zoom-in"
                    class="ct-dynamic-media-inner"
                    style="border-radius: 3px"
                    ><img
                      loading="lazy"
                      decoding="async"
                      width="1240"
                      height="1240"
                      src="./Shop – Furniture_files/product-42.webp"
                      class="attachment-full size-full wp-post-image"
                      alt=""
                      style="width: 100%; height: 100%; object-fit: cover"
                      srcset="
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42.webp           1240w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42-300x300.webp    300w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42-800x800.webp    800w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42-500x500.webp    500w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42-1024x1024.webp 1024w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42-150x150.webp    150w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-42-768x768.webp    768w
                      "
                      sizes="auto, (max-width: 1240px) 100vw, 1240px" /></span
                ></a>
              </div>

              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 75%"
              >
                <h4
                  style="
                    font-size: clamp(
                      14px,
                      0.875rem + ((1vw - 3.2px) * 0.078),
                      15px
                    );
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: var(--wp--preset--spacing--20);
                    margin-top: 0;
                  "
                  class="ct-dynamic-data wp-elements-472d5a6e19517021339e5b2771dd95e8"
                >
                  <a
                    href="https://startersites.io/blocksy/furniture/product/felis-vehicula/"
                    >Felis Vehicula</a
                  >
                </h4>

                <div
                  style="font-size: 13px; margin-top: 0; margin-bottom: 0"
                  class="ct-dynamic-data wp-elements-10c94fd6821183356b19b0f85f2ab29a"
                >
                  <span class="woocommerce-Price-amount amount"
                    ><bdi
                      ><span class="woocommerce-Price-currencySymbol">$</span
                      >740.00</bdi
                    ></span
                  >
                </div>
              </div>
            </div>
          </li>
          <li
            class="wc-block-product post-370 product type-product status-publish has-post-thumbnail product_brand-asgardia product_cat-beds instock shipping-taxable purchasable product-type-simple"
            data-wp-interactive="woocommerce/product-collection"
            data-wp-context='{"productId":370}'
            data-wp-key="product-item-370"
          >
            <div
              class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-core-columns-is-layout-c6809a2b wp-block-columns-is-layout-flex"
            >
              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 25%"
              >
                <a
                  class="ct-dynamic-media wp-elements-220cfe945adb386e632ed08ed189d5c6"
                  href="https://startersites.io/blocksy/furniture/product/commodo-amcorper/"
                  ><span
                    data-hover="zoom-in"
                    class="ct-dynamic-media-inner"
                    style="border-radius: 3px"
                    ><img
                      loading="lazy"
                      decoding="async"
                      width="1240"
                      height="1240"
                      src="./Shop – Furniture_files/product-41.webp"
                      class="attachment-full size-full wp-post-image"
                      alt=""
                      style="width: 100%; height: 100%; object-fit: cover"
                      srcset="
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41.webp           1240w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41-300x300.webp    300w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41-800x800.webp    800w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41-500x500.webp    500w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41-1024x1024.webp 1024w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41-150x150.webp    150w,
                        https://startersites.io/blocksy/furniture/wp-content/uploads/2024/05/product-41-768x768.webp    768w
                      "
                      sizes="auto, (max-width: 1240px) 100vw, 1240px" /></span
                ></a>
              </div>

              <div
                class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow"
                style="flex-basis: 75%"
              >
                <h4
                  style="
                    font-size: clamp(
                      14px,
                      0.875rem + ((1vw - 3.2px) * 0.078),
                      15px
                    );
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: var(--wp--preset--spacing--20);
                    margin-top: 0;
                  "
                  class="ct-dynamic-data wp-elements-472d5a6e19517021339e5b2771dd95e8"
                >
                  <a
                    href="https://startersites.io/blocksy/furniture/product/commodo-amcorper/"
                    >Commodo Amcorper</a
                  >
                </h4>

                <div
                  style="font-size: 13px; margin-top: 0; margin-bottom: 0"
                  class="ct-dynamic-data wp-elements-10c94fd6821183356b19b0f85f2ab29a"
                >
                  <span class="woocommerce-Price-amount amount"
                    ><bdi
                      ><span class="woocommerce-Price-currencySymbol">$</span
                      >1,250.00</bdi
                    ></span
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
