[data-header*="type-1"] .ct-header [data-row*="top"]>div {
    --theme-border-top: none;
    --theme-border-bottom: none;
}

[data-header*="type-1"] .ct-header [data-id="menu-tertiary"]>ul>li>a {
    --theme-font-weight: 400;
    --theme-text-transform: capitalize;
    --theme-font-size: 13px;
    --theme-line-height: 1.3;
    --theme-link-initial-color: rgba(228, 238, 240, 0.58);
    --theme-link-hover-color: #ffffff;
}