<figure>
  @if (productData.discount_percentage > 0) {
  <span class="onsale" data-shape="type-2">SALE</span>
  }
  <div cart-buttons class="ct-woo-card-extra" data-type="type-1"></div>
  <a
    class="ct-media-container has-hover-effect"
    routerLink="/product/{{ getProductSlug(productData.name) }}/"
    (click)="scrollToTop()"
    [attr.aria-label]="productData.name"
    ><img
      decoding="async"
      width="500"
      height="500"
      src="{{ img }}"
      loading="lazy"
      sizes="auto, (max-width: 500px) 100vw, 500px"
      itemprop="image"
      class="wp-post-image"
      style="aspect-ratio: 1/1"
      title="product-{{ productData.id }}"
      alt="{{ productData.name }}"
  /></a>
</figure>
<h2 class="woocommerce-loop-product__title">
  <a
    class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
    routerLink="/product/{{ getProductSlug(productData.name) }}/"
    target="_self"
    >{{ productData.name }}</a
  >
</h2>
<ul class="entry-meta" data-type="simple:none" data-id="bZK3QLBYckA-98i8Z0nKe">
  <li
    *ngFor="let item of productData.category"
    class="meta-categories"
    data-type="simple"
  >
    <a
      routerLink="/product-category/{{ item.toLocaleLowerCase() }}/"
      rel="tag"
      class="ct-term-40"
      >{{ item }}</a
    >
  </li>
</ul>
<div class="ct-woo-card-actions" data-add-to-cart="auto-hide">
  @if (productData.discount_percentage <= 0) {
  <span class="price"
    ><span class="woocommerce-Price-amount amount"
      ><bdi
        ><span class="woocommerce-Price-currencySymbol">$</span
        >{{ productData.price }}</bdi
      ></span
    ></span
  >
  } @else {
  <span class="price">
    <span class="sale-price">
      <del aria-hidden="true">
        <span class="woocommerce-Price-amount amount">
          <bdi>
            <span class="woocommerce-Price-currencySymbol">$</span
            >{{ productData.price }}</bdi
          >
        </span>
      </del>
      <span class="screen-reader-text"
        >Original price was: ${{ productData.price }}.</span
      >
      <ins aria-hidden="true">
        <span class="woocommerce-Price-amount amount">
          <bdi>
            <span class="woocommerce-Price-currencySymbol">$</span
            >{{
              productData.price -
                productData.price * (productData.discount_percentage / 100)
            }}</bdi
          >
        </span>
      </ins>
      <span class="screen-reader-text"
        >Current price is: ${{
          productData.price -
            productData.price * (productData.discount_percentage / 100)
        }}.</span
      ></span
    >
  </span>
  } @if (isInCart(productData.id)) {
  <a
    routerLink="/cart/"
    aria-describedby="woocommerce_loop_add_to_cart_link_describedby_353"
    data-quantity="1"
    class="button product_type_simple add_to_cart_button ajax_add_to_cart"
    data-product_id="353"
    data-product_sku=""
    aria-label="Add to cart: “Aliquam Blandit”"
    rel="nofollow"
    data-success_message="“Aliquam Blandit” has been added to your cart"
    >View Cart
  </a>
  } @else {
  <a
    (click)="addToCart(productData.id, $event)"
    aria-describedby="woocommerce_loop_add_to_cart_link_describedby_353"
    data-quantity="1"
    class="button product_type_simple add_to_cart_button ajax_add_to_cart"
    data-product_id="353"
    data-product_sku=""
    aria-label="Add to cart: “Aliquam Blandit”"
    rel="nofollow"
    data-success_message="“Aliquam Blandit” has been added to your cart"
    >Add to Cart
  </a>

  }
  <span
    id="woocommerce_loop_add_to_cart_link_describedby_353"
    class="screen-reader-text"
  >
  </span>
</div>
