<main id="main" class="site-main hfeed">
  <div class="ct-container-full" data-content="normal">
    <article id="post-13" class="post-13 page type-page status-publish hentry">
      <div class="blocksy-woo-messages-default woocommerce-notices-wrapper">
        <div class="woocommerce"></div>
      </div>

      <div class="entry-content is-layout-constrained">
        <div
          highlight
          class="wp-block-greenshift-blocks-row alignwide gspb_row gspb_row-id-gsbp-822defd gspb_row--gutter-custom-0"
          id="gspb_row-id-gsbp-822defd"
        ></div>
        <div
          botw
          class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-90d01df"
          id="gspb_container-id-gsbp-90d01df"
        ></div>
        <div
          browse-by-room
          class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-e4ccf23 gspb_row--gutter-custom-0"
          id="gspb_row-id-gsbp-e4ccf23"
        ></div>
        <div
          top-selling
          class="wp-block-greenshift-blocks-container gspb_container gspb_container-gsbp-a903cec"
          id="gspb_container-id-gsbp-a903cec"
        ></div>
        <div
          class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-5d18cf1 gspb_row--gutter-custom-0"
          id="gspb_row-id-gsbp-5d18cf1"
        >
          <div class="gspb_row__content">
            <div
              class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_col-id-gsbp-e2952d2"
              id="gspb_col-id-gsbp-e2952d2"
            >
              <h3
                id="gspb_heading-id-gsbp-b583f2c"
                class="gspb_heading gspb_heading-id-gsbp-b583f2c"
              >
                Special offers
              </h3>

              <div
                id="gspb_text-id-gsbp-2cab47c"
                class="gspb_text gspb_text-id-gsbp-2cab47c"
              >
                Quam elementum pulvinar etiam non quam tincidunt eget nullam
                non.
              </div>
            </div>

            <div
              class="wp-block-greenshift-blocks-row-column gspb_row__col--6 gspb_col-id-gsbp-6752511"
              id="gspb_col-id-gsbp-6752511"
            >
              <div
                class="gspb_button_wrapper gspb_button-id-gsbp-489e23f"
                id="gspb_button-id-gsbp-489e23f"
              >
                <a
                  class="wp-block-greenshift-blocks-buttonbox gspb-buttonbox wp-element-button"
                  rel="noopener"
                  ><span class="gspb-buttonbox-textwrap"
                    ><span class="gspb-buttonbox-text"
                      ><span class="gspb-buttonbox-title">See All</span></span
                    ><span class="gspb-buttonbox-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="width: 5rem; height: 5rem; margin: 10px"
                        viewBox="0 0 20 13.549"
                      >
                        <path
                          d="M19.755 7.402c-.015.018-.02.04-.037.057l-5.806 5.806a.965.965 0 0 1-1.369 0 .967.967 0 0 1 0-1.368l4.155-4.155H.968a.968.968 0 1 1 0-1.935h15.73l-4.155-4.155A.967.967 0 1 1 13.912.284l5.806 5.806c.02.02.028.047.046.069a.957.957 0 0 1 .162.244c.099.237.099.505 0 .743a.96.96 0 0 1-.17.256Z"
                        ></path></svg></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div
          special-offer
          class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-78f4871 gspb_row--gutter-custom-0"
          id="gspb_row-id-gsbp-78f4871"
        ></div>
        <div
          philosophy
          class="wp-block-greenshift-blocks-row gspb_row gspb_row-id-gsbp-809e49d gspb_row--gutter-custom-0"
          id="gspb_row-id-gsbp-809e49d"
        ></div>
        <div
          brand
          class="wp-block-greenshift-blocks-row alignfull gspb_row gspb_row-id-gsbp-64a1fcf"
          id="gspb_row-id-gsbp-64a1fcf"
        ></div>
        <div
          subscribe
          class="wp-block-greenshift-blocks-row alignfull gspb_row gspb_row-id-gsbp-3f48ec3 gspb_row--gutter-custom-0"
          id="gspb_row-id-gsbp-3f48ec3"
        ></div>
      </div>
    </article>
  </div>
</main>
