#gspb_heading-id-gsbp-82a6445 {
    font-size: 55px;
    line-height: 1.25em;
}

#gspb_heading-id-gsbp-82a6445 {
    margin-top: 0;
}

.gspb_text-id-gsbp-9f97b67 {
    font-size: 18px;
}

.gspb_text-id-gsbp-9f97b67 {
    color: var(--wp--preset--color--palette-color-4,
            var(--theme-palette-color-4, #192c27));
    margin-bottom: 35px !important;
}

.gspb_text-id-gsbp-9f97b67 {
    max-width: 400px;
}

#gspb_image-id-gsbp-e8759fc img {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 30px;
    height: auto;
}

#gspb_image-id-gsbp-e8759fc {
    height: auto;
}

#gspb_image-id-gsbp-478ce82 img {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 30px;
    height: auto;
}

#gspb_image-id-gsbp-478ce82 {
    height: auto;
}

#gspb_image-id-gsbp-8b8c941 img {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 30px;
    height: auto;
}

#gspb_image-id-gsbp-8b8c941 {
    height: auto;
}

.gspb_text-id-gsbp-f8053d9 {
    font-size: 15px;
    font-weight: 500 !important;
}

#gspb_button-id-gsbp-06d9be3 {
    display: flex;
    justify-content: flex-start;
}

#gspb_button-id-gsbp-06d9be3 .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-06d9be3>.gspb-buttonbox {
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;
}

#gspb_button-id-gsbp-06d9be3>.gspb-buttonbox {
    min-height: 60px;
}

#gspb_heading-id-gsbp-cdbc7a9 {
    margin-top: 0;
    margin-bottom: 0;
}

#gspb_button-id-gsbp-e7711ba {
    display: flex;
    justify-content: flex-start;
}

#gspb_button-id-gsbp-e7711ba .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox {
    box-sizing: border-box;
}

#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox {
    background-color: #fff;
}

#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox .gspb-buttonbox-icon svg,
#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox .gspb-buttonbox-icon svg path {
    fill: var(--wp--preset--color--palette-color-4,
            var(--theme-palette-color-4, #152420)) !important;
}

#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox>.gspb-buttonbox-textwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gspb_button-id-gsbp-e7711ba .gspb-buttonbox-icon {
    margin-right: 13px;
}

#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox .gspb-buttonbox-icon {
    margin-right: 0;
}

#gspb_heading-id-gsbp-3269ffe {
    margin-top: 0;
    margin-bottom: 0;
}

#gspb_button-id-gsbp-28d61b0 {
    display: flex;
    justify-content: flex-start;
}

#gspb_button-id-gsbp-28d61b0 .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-28d61b0>.gspb-buttonbox .gspb-buttonbox-icon svg,
#gspb_button-id-gsbp-e7711ba>.gspb-buttonbox .gspb-buttonbox-icon svg {
    height: 20px !important;
    width: 20px !important;
    min-width: 20px !important;
    margin: 0 !important;
}

#gspb_button-id-gsbp-28d61b0>.gspb-buttonbox .gspb-buttonbox-icon svg,
#gspb_button-id-gsbp-28d61b0>.gspb-buttonbox .gspb-buttonbox-icon svg path {
    fill: var(--wp--preset--color--palette-color-4,
            var(--theme-palette-color-4, #152420)) !important;
}

#gspb_button-id-gsbp-28d61b0>.gspb-buttonbox>.gspb-buttonbox-textwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gspb_button-id-gsbp-28d61b0 .gspb-buttonbox-icon {
    margin-right: 13px;
}

#gspb_button-id-gsbp-28d61b0>.gspb-buttonbox .gspb-buttonbox-icon {
    margin-right: 0;
}

#gspb_button-id-gsbp-28d61b0>.gspb-buttonbox {
    background-color: #fff;
}

#gspb_heading-id-gsbp-1220d41,
#gspb_heading-id-gsbp-1220d41 .gsap-g-line,
.gspb_text-id-gsbp-10577e2,
.gspb_text-id-gsbp-10577e2 .gsap-g-line {
    text-align: center !important;
}

#gspb_heading-id-gsbp-1220d41 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.gspb_text-id-gsbp-10577e2 {
    color: #fff;
    margin-bottom: 30px !important;
}

#gspb_button-id-gsbp-55a1303 {
    display: flex;
    justify-content: center;
}

#gspb_button-id-gsbp-55a1303 .gspb-buttonbox-text {
    display: flex;
    flex-direction: column;
}

#gspb_button-id-gsbp-55a1303>.gspb-buttonbox {
    box-sizing: border-box;
    background-color: var(--wp--preset--color--palette-color-2,
            var(--theme-palette-color-2, #456a6d));
}

#gspb_row-id-gsbp-822defd>.gspb_row__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

#gspb_col-id-gsbp-672ffc6.gspb_row__col--6 {
    width: calc(50% - 12.5px);
}

.gspb_row #gspb_col-id-gsbp-672ffc6.gspb_row__col--6 {
    padding: 0;
}

body #gspb_col-id-gsbp-672ffc6.gspb_row__col--6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gspb_container-id-gsbp-2560b07.gspb_container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 45px;
    padding: 20px 25px 20px 20px;
    background-color: var(--wp--preset--color--palette-color-5,
            var(--theme-palette-color-5, #e2edef));
}

#gspb_container-id-gsbp-2560b07.gspb_container,
#gspb_container-id-gsbp-2560b07.gspb_container>.gspb_backgroundOverlay {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

body.gspb-bodyfront #gspb_container-id-gsbp-2560b07.gspb_container {
    max-width: fit-content;
}

#gspb_col-id-gsbp-e8ab431.gspb_row__col--6 {
    width: calc(50% - 12.5px);
}

.gspb_row #gspb_col-id-gsbp-e8ab431.gspb_row__col--6 {
    padding: 0;
}

#gspb_container-id-gsbp-e9540ed.gspb_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 30px;
    column-gap: 30px;
    grid-template: 1fr 0.5fr/1fr 1fr;
}

body.gspb-bodyfront #gspb_container-id-gsbp-86d2300.gspb_container {
    grid-row-start: 1;
    grid-row-end: 3;
}

body.gspb-bodyfront #gspb_container-id-gsbp-86d2300.gspb_container {
    min-height: 550px;
}

#gspb_container-id-gsbp-86d2300.gspb_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#gspb_container-id-gsbp-86d2300.gspb_container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(/imgs/home-hero-image-1.webp);
}

#gspb_container-id-gsbp-fbd916a.gspb_container {
    padding: 10px 20px;
    background-color: var(--wp--preset--color--palette-color-8,
            var(--theme-palette-color-8, #ffffff));
}

#gspb_container-id-gsbp-fbd916a.gspb_container,
#gspb_container-id-gsbp-fbd916a.gspb_container>.gspb_backgroundOverlay {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

body.gspb-bodyfront #gspb_container-id-gsbp-fbd916a.gspb_container {
    max-width: fit-content;
}

body.gspb-bodyfront #gspb_container-id-gsbp-6e3c5c2.gspb_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#gspb_container-id-gsbp-6e3c5c2.gspb_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#gspb_container-id-gsbp-6e3c5c2.gspb_container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 49%;
    background-image: url(/imgs/home-hero-image-2.webp);
}

#gspb_container-id-gsbp-fad727e.gspb_container {
    padding: 10px 20px;
    background-color: var(--wp--preset--color--palette-color-8,
            var(--theme-palette-color-8, #ffffff));
}

#gspb_container-id-gsbp-fad727e.gspb_container,
#gspb_container-id-gsbp-fad727e.gspb_container>.gspb_backgroundOverlay {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

body.gspb-bodyfront #gspb_container-id-gsbp-fad727e.gspb_container {
    max-width: fit-content;
}

body.gspb-bodyfront #gspb_container-id-gsbp-5454809.gspb_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#gspb_container-id-gsbp-5454809.gspb_container {
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#gspb_container-id-gsbp-5454809.gspb_container {
    background-color: var(--wp--preset--color--palette-color-1,
            var(--theme-palette-color-1, #274c4f));
}

.is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

#gspb_row-id-gsbp-822defd {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 50px;
}

#gspb_row-id-gsbp-822defd {
    background-color: var(--wp--preset--color--palette-color-6,
            var(--theme-palette-color-6, #eef4f5));
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}