<header  class="woocommerce-products-header"></header>
<div class="woocommerce-notices-wrapper"></div>
<div id="anchor" class="woo-listing-top">
  <!-- <a
    class="ct-toggle-filter-panel ct-offcanvas-trigger ct-hidden-lg"
    data-toggle-panel="#woo-filters-panel"
    data-button-state=""
    ><span class="ct-icon-container"
      ><svg width="12" height="12" viewBox="0 0 10 10">
        <path
          d="M0 1.8c0-.4.3-.7.7-.7h8.6c.4 0 .7.3.7.7 0 .4-.3.7-.7.7H.7c-.4 0-.7-.3-.7-.7zm9.3 2.5H.7c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h8.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7zm0 3.2H.7c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h8.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7z"
        ></path></svg
      ><svg class="ct-button-loader" width="18" height="18" viewBox="0 0 24 24">
        <circle
          cx="12"
          cy="12"
          r="10"
          opacity="0.2"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2.5"
        ></circle>

        <path
          d="m12,2c5.52,0,10,4.48,10,10"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2.5"
        >
          <animatetransform
            attributeName="transform"
            attributeType="XML"
            type="rotate"
            dur="0.5s"
            from="0 12 12"
            to="360 12 12"
            repeatCount="indefinite"
          ></animatetransform>
        </path></svg></span
    >Filter</a
  > -->
  <p class="woocommerce-result-count ct-hidden-sm">
    Showing {{ startIndex + 1 }}–{{ endIndex }} of {{ totalProducts }} results
  </p>
  <form class="woocommerce-ordering" method="get">
    <select name="orderby" class="orderby" aria-label="Shop order">
      <option value="menu_order" selected="selected">Default sorting</option>
      <option value="popularity">Sort by popularity</option>
      <option value="rating">Sort by average rating</option>
      <option value="date">Sort by latest</option>
      <option value="price">Sort by price: low to high</option>
      <option value="price-desc">Sort by price: high to low</option>
    </select>
    <input type="hidden" name="paged" value="1" />
    <svg
      width="14px"
      height="14px"
      fill="currentColor"
      viewBox="0 0 24 24"
      class="ct-sort-icon ct-hidden-lg ct-hidden-md"
    >
      <path
        d="M10.434 5.966A.933.933 0 0 1 9.24 7.399L6.318 4.966V19.46a.933.933 0 1 1-1.866 0V4.966L1.53 7.4a.93.93 0 0 1-1.314-.12.933.933 0 0 1 .12-1.313l4.452-3.707c.027-.023.06-.03.09-.048.038-.026.072-.055.114-.074.025-.012.051-.02.078-.03.046-.017.092-.025.14-.034.045-.009.088-.02.134-.022.014 0 .026-.008.04-.008.015 0 .027.008.042.008.046.002.09.013.135.022.047.01.093.017.139.034.026.01.052.018.078.03.042.019.076.048.115.074.029.019.062.026.089.048l4.452 3.707Zm13.35 10.755a.933.933 0 0 0-1.314-.12l-2.922 2.433V4.54a.933.933 0 1 0-1.866 0v14.493L14.76 16.6a.933.933 0 1 0-1.194 1.433l4.452 3.707c.044.037.096.055.144.082.027.015.049.04.077.052l.038.014c.11.042.223.068.338.068a.929.929 0 0 0 .338-.068l.038-.014c.029-.013.05-.037.078-.052.048-.027.099-.045.143-.082l4.452-3.707a.933.933 0 0 0 .12-1.313Z"
      ></path>
    </svg>
  </form>
</div>
<div class="ct-products-container" >
  <span class="ct-filters-loading"
    ><svg width="23" height="23" viewBox="0 0 40 40">
      <path
        opacity=".2"
        fill="currentColor"
        d="M20.201 5.169c-8.254 0-14.946 6.692-14.946 14.946 0 8.255 6.692 14.946 14.946 14.946s14.946-6.691 14.946-14.946c-.001-8.254-6.692-14.946-14.946-14.946zm0 26.58c-6.425 0-11.634-5.208-11.634-11.634 0-6.425 5.209-11.634 11.634-11.634 6.425 0 11.633 5.209 11.633 11.634 0 6.426-5.208 11.634-11.633 11.634z"
      ></path>

      <path
        fill="currentColor"
        d="m26.013 10.047 1.654-2.866a14.855 14.855 0 0 0-7.466-2.012v3.312c2.119 0 4.1.576 5.812 1.566z"
      >
        <animatetransform
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"
        ></animatetransform>
      </path></svg
  ></span>
  <ul class="products columns-3" data-products="type-2" data-hover="zoom-in">
    @for (item of currentProducts; track $index) {
    <li
      product
      [productData]="item"
      class="product type-product post-353 status-publish first instock product_cat-tables has-post-thumbnail shipping-taxable purchasable product-type-simple"
    ></li>
    }
  </ul>

  <nav class="ct-pagination" data-pagination="simple">
    @if(currentPage > 1) {
    <a
      class="prev page-numbers"
      rel="prev"
      [routerLink]="['/shop/page', currentPage - 1]"
      ><svg width="9px" height="9px">
        <use href="/icons/icons.svg#left-caret-icon"></use>
      </svg>
      Prev</a
    >
    }
    <div class="ct-hidden-sm">
      @for (item of pages; track $index) { @if(item === currentPage){
      <span aria-current="page" class="page-numbers current">{{ item }}</span>
      } @else {
      <a class="page-numbers" [routerLink]="['/shop/page', item]">{{ item }}</a>
      } }
    </div>
    @if(currentPage < pages.length) {
    <a
      class="next page-numbers"
      rel="next"
      [routerLink]="['/shop/page', currentPage + 1]"
      >Next
      <svg width="9px" height="9px">
        <use href="/icons/icons.svg#right-caret-icon"></use>
      </svg>
    </a>
    }
  </nav>
</div>
