<header class="woocommerce-products-header"></header>
<div class="woocommerce-notices-wrapper"></div>
<div id="anchor" class="woo-listing-top">
  <a
    class="ct-toggle-filter-panel ct-offcanvas-trigger ct-hidden-lg"
    data-toggle-panel="#woo-filters-panel"
    data-button-state=""
  >
    <span class="ct-icon-container">
      <svg width="12" height="12" viewBox="0 0 10 10">
        <path
          d="M0 1.8c0-.4.3-.7.7-.7h8.6c.4 0 .7.3.7.7 0 .4-.3.7-.7.7H.7c-.4 0-.7-.3-.7-.7zm9.3 2.5H.7c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h8.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7zm0 3.2H.7c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h8.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7z"
        ></path>
      </svg>
      <svg class="ct-button-loader" width="18" height="18" viewBox="0 0 24 24">
        <circle
          cx="12"
          cy="12"
          r="10"
          opacity="0.2"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2.5"
        ></circle>

        <path
          d="m12,2c5.52,0,10,4.48,10,10"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2.5"
        >
          <animatetransform
            attributeName="transform"
            attributeType="XML"
            type="rotate"
            dur="0.5s"
            from="0 12 12"
            to="360 12 12"
            repeatCount="indefinite"
          ></animatetransform>
        </path></svg></span
    >Filter</a
  >
  <p class="woocommerce-result-count ct-hidden-sm">
    @if(totalProducts > 0){Showing {{ startIndex + 1 }}–{{ endIndex }} of}
    {{ totalProducts }} results
  </p>
  <form class="woocommerce-ordering" method="get">
    <select
      name="orderby"
      class="orderby"
      aria-label="Shop order"
      (change)="onSortChange($event)"
      [value]="orderBy"
    >
      <option value="menu_order" selected="selected">Default sorting</option>
      <option value="popularity">Sort by popularity</option>
      <option value="rating">Sort by average rating</option>
      <option value="date">Sort by latest</option>
      <option value="price">Sort by price: low to high</option>
      <option value="price-desc">Sort by price: high to low</option>
    </select>
    <input type="hidden" name="paged" value="1" />
    <svg
      width="14px"
      height="14px"
      class="ct-sort-icon ct-hidden-lg ct-hidden-md"
    >
      <use href="/icons/icons.svg#down-caret-icon"></use>
    </svg>
  </form>
</div>
<div class="ct-products-container">
  @if(loading){
  <span class="ct-filters-loading active">
    <svg class="ct-button-loader" width="30" height="24">
      <use href="/icons/icons.svg#loader"></use>
    </svg>
  </span>
  } @else{
  <ul class="products columns-3" data-products="type-2" data-hover="zoom-in">
    @for (item of currentProducts; track $index) {
    <li
      product
      [productData]="item"
      class="product type-product post-353 status-publish first instock product_cat-tables has-post-thumbnail shipping-taxable purchasable product-type-simple"
    ></li>
    }
  </ul>
  <nav class="ct-pagination" data-pagination="simple">
    @if(currentPage > 1) {
    <a
      class="prev page-numbers"
      rel="prev"
      [queryParams]="{ orderby: orderBy }"
      [routerLink]="['/shop/page', currentPage - 1]"
    >
      <svg width="9px" height="9px">
        <use href="/icons/icons.svg#left-caret-icon"></use>
      </svg>
      Prev</a
    >
    }
    <div class="ct-hidden-sm">
      @for (item of pages; track $index) { @if(item === currentPage){
      <span aria-current="page" class="page-numbers current">{{ item }}</span>
      } @else {
      <a
        class="page-numbers"
        [queryParams]="{ orderby: orderBy }"
        [routerLink]="['/shop/page', item]"
        >{{ item }}</a
      >
      } }
    </div>
    @if(currentPage < pages.length) {
    <a
      class="next page-numbers"
      rel="next"
      [queryParams]="{ orderby: orderBy }"
      [routerLink]="['/shop/page', currentPage + 1]"
      >Next
      <svg width="9px" height="9px">
        <use href="/icons/icons.svg#right-caret-icon"></use>
      </svg>
    </a>
    }
  </nav>
  }
</div>
